<template>
  <div class="w-full overflow-x m-auto">
    <p class="text-gray-700 dark:text-gray-200 mb-1">Signable by:</p>
    <div class="flow-root w-full m-auto">
      <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="inline-block py-2 align-middle sm:px-6 lg:px-8 w-full">
          <table class="divide-y divide-gray-200 dark:divide-gray-700 w-full">
            <thead>
              <tr class="text-gray-900 dark:text-gray-100 font-semibold text-sm">
                <th scope="col" class="py-3.5 pl-4 pr-3 text-left sm:pl-3">Account name</th>
                <th scope="col" class="px-3 py-3.5">Weight</th>
                <th scope="col" class="px-3 py-3.5">
                  <div class="flex items-center justify-center gap-1">
                    <p>Sign</p>
                    <sup
                      v-tippy="{
                        content: `Check the accounts you want to sign the transaction.`,
                        arrow: true,
                        maxWidth: 'none',
                        delay: 100,
                        placement: 'top',
                        allowHTML: true,
                        theme: darkMode ? 'night' : 'day'
                      }"
                    >
                      <InformationCircleIcon class="h-3.5"></InformationCircleIcon>
                    </sup>
                  </div>
                </th>
                <th scope="col" class="px-3 py-3.5">
                  <div class="flex items-center justify-center gap-1">
                    <p>Notify</p>
                    <sup
                      v-tippy="{
                        content: `Check the accounts you want to be notified via Sting Chat messaging system about the transaction.<br>They'll receive a link to the transaction. If selected as signers they can sign the transaction.`,
                        arrow: true,
                        maxWidth: 'none',
                        delay: 100,
                        placement: 'top',
                        allowHTML: true,
                        theme: darkMode ? 'night' : 'day'
                      }"
                    >
                      <InformationCircleIcon class="h-3.5"></InformationCircleIcon>
                    </sup>
                  </div>
                </th>
              </tr>
            </thead>
            <tbody class="bg-white dark:bg-slate-800">
              <tr
                v-for="account in signers"
                :key="account.name"
                class="even:bg-gray-50 dark:even:bg-slate-900/50 text-gray-500 dark:text-gray-400 text-center font-semibold"
              >
                <td class="flex items-center justify-start gap-2 whitespace-nowrap px-4 py-2 text-sm text-left font-medium 0 sm:pl-3">
                  <a :href="`https://hivehub.dev/@${account.name}`" target="_blank">{{ account.name }}</a>
                  <div v-if="account.key">
                    <span
                      v-tippy="{
                        content: account.key,
                        arrow: true,
                        maxWidth: 'none',
                        delay: 100,
                        placement: 'top',
                        theme: darkMode ? 'night' : 'day'
                      }"
                    >
                      <KeyIcon class="h-4">{{ account.key }}</KeyIcon>
                    </span>
                  </div>
                </td>
                <td class="whitespace-nowrap px-4 py-2 text-sm">{{ account.weight }}</td>
                <td class="whitespace-nowrap px-4 py-2 text-sm">
                  <input
                    v-model="selectedAccountsToSign"
                    @change="$emit('checkUserToSign', selectedAccountsToSign)"
                    :value="account.name"
                    type="checkbox"
                    class="h-4 w-4 border-2 border-gray-300 dark:border-gray-400 rounded text-emerald-600 dark:text-emerald-400 focus:ring-0 bg-transparent"
                  />
                </td>
                <td class="whitespace-nowrap px-3 py-2 text-sm text-gray-500">
                  <input
                    v-model="selectedAccountsToNotify"
                    @change="$emit('checkUserToNotify', selectedAccountsToNotify)"
                    :value="account.name"
                    type="checkbox"
                    class="h-4 w-4 border-2 border-gray-300 dark:border-gray-400 rounded text-emerald-600 dark:text-emerald-400 focus:ring-0 bg-transparent"
                  />
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <!-- <ul class="space-y-2">
                <li v-for="account in accountAuths" :key="account.name" class="flex items-center justify-start gap-3">
                  <p>
                    {{ account.name ? 'name:' : 'key:' }}
                    <span class="font-bold text-gray-700 dark:text-gray-200 ml-1"> {{ account.name ? `@${account.name}` : account.key }}</span> - weight:
                    <span class="font-bold text-gray-700 dark:text-gray-200 ml-1"> {{ account.weight }}</span>
                  </p>
                  <input
                    v-model="selectedAccounts"
                    :value="account.name"
                    type="checkbox"
                    class="h-4 w-4 border-2 border-gray-300 dark:border-slate-500 rounded text-emerald-600 focus:outline-none focus:ring-emerald-500 dark:focus:ring-emerald-100 dark:text-slate-800 dark:bg-slate-800"
                  /> 
                </li>
              </ul>
              <div class="w-full flex justify-center">
                <button
                  type="button"
                  @click="selectAll"
                  class="mt-4 rounded-md border border-gray-300 dark:border-slate-500 shadow-sm px-2 py-1 bg-white dark:bg-slate-800 text-base font-medium text-gray-700 dark:text-gray-200 hover:bg-gray-50 dark:hover:bg-slate-700 focus:outline-none focus:ring-2 focus:ring-emerald-500 dark:focus:ring-emerald-100 sm:w-auto sm:text-sm"
                >
                  {{ allSelected ? 'Deselect All' : 'Select All' }}
                </button>
              </div> -->
  </div>
</template>

<script setup lang="ts">
  import { KeyIcon, InformationCircleIcon } from '@heroicons/vue/solid'
  import { useSettingsStore } from '~/stores/settings'

  const settingsStore = useSettingsStore()
  const darkMode = computed(() => settingsStore.settings.darkMode)

  const props = defineProps<{ signers: any }>()
  const defineEmits = ['checkUserToSign', 'checkUserToNotify']

  const selectedAccountsToSign = ref([])
  const selectedAccountsToNotify = ref([])

  watch(
    () => props.signers,
    () => {
      selectedAccountsToSign.value = []
      selectedAccountsToNotify.value = []
    }
  )
</script>
