<template>
  <div class="shadow ring-1 ring-black dark:ring-slate-700 ring-opacity-5 md:rounded-lg bg-white dark:bg-slate-800 py-5 px-10">
    <div class="space-y-6 sm:space-y-5">
      <div class="py-4">
        <h3 class="text-2xl mb-4">Signatures</h3>
        <div class="flex gap-4">
          <button
            type="button"
            @click="reqSign()"
            class="inline-flex items-center rounded-md border border-transparent px-6 py-3 bg-emerald-600 dark:bg-emerald-400 text-base font-medium text-white dark:text-slate-800 hover:bg-emerald-700 dark:hover:bg-emerald-200 focus:outline-none focus:ring-2 focus:ring-emerald-500 dark:focus:ring-emerald-100"
          >
            Request signature
          </button>
          <button
            type="button"
            @click="reqBroadcast()"
            class="inline-flex items-center rounded-md border border-transparent px-6 py-3 bg-emerald-600 dark:bg-emerald-400 text-base font-medium text-white dark:text-slate-800 hover:bg-emerald-700 dark:hover:bg-emerald-200 focus:outline-none focus:ring-2 focus:ring-emerald-500 dark:focus:ring-emerald-100"
          >
            Request broadcast
          </button>
          <button
            type="button"
            @click="reqSignBuffer()"
            class="inline-flex items-center rounded-md border border-transparent px-6 py-3 bg-emerald-600 dark:bg-emerald-400 text-base font-medium text-white dark:text-slate-800 hover:bg-emerald-700 dark:hover:bg-emerald-200 focus:outline-none focus:ring-2 focus:ring-emerald-500 dark:focus:ring-emerald-100"
          >
            Sign buffer
          </button>
          <button
            type="button"
            @click="reqConnect()"
            class="inline-flex items-center rounded-md border border-transparent px-6 py-3 bg-emerald-600 dark:bg-emerald-400 text-base font-medium text-white dark:text-slate-800 hover:bg-emerald-700 dark:hover:bg-emerald-200 focus:outline-none focus:ring-2 focus:ring-emerald-500 dark:focus:ring-emerald-100"
          >
            Connect
          </button>
        </div>
      </div>

      <div class="pt-4">
        <h3 class="text-2xl mb-4">Request operations</h3>
        <div class="flex flex-col xl:flex-row justify-center items-center gap-6 w-full mb-8">
          <div class="flex items-center justify-start gap-2 w-full">
            <p class="text-gray-700 dark:text-gray-200">Operation</p>
            <div class="w-[225px]">
              <OptionsDropdown
                name="operation"
                :current="selectedOp"
                :elements="allowedOps"
                :parseText="true"
                @change="selected => (selectedOp = selected)"
              ></OptionsDropdown>
            </div>
          </div>

          <div class="flex items-center justify-start gap-2 w-full">
            <p class="text-gray-700 dark:text-gray-200">Authority</p>
            <div class="w-[225px]">
              <OptionsDropdown
                name="authority"
                :current="authority"
                :elements="authorities"
                @change="
                  selected => {
                    authority = selected
                  }
                "
              ></OptionsDropdown>
            </div>
          </div>
        </div>
      </div>

      <div class="py-2 sm:px-14 space-y-4 mx-10 sm:space-y-6 sm:border-t sm:border-gray-400 dark:border-slate-300">
        <template v-if="selectedOpDetails && selectedOpDetails.params">
          <div
            v-for="(param, index) in selectedOpDetails.params"
            :key="index"
            class="sm:grid sm:grid-cols-3 lg:grid-cols-4 sm:items-start sm:gap-4 sm:pt-5 px-10"
            :class="{ 'sm:border-t sm:border-gray-200 dark:border-gray-700': index }"
          >
            <label :for="param" class="flex justify-start items-center gap-2 text-sm font-medium text-gray-700 dark:text-gray-200 sm:mt-px sm:pt-2"
              ><p>{{ splitAndCapitalize(param) }}</p>
              <span
                v-tippy="{
                  content: mapOpsParams(selectedOp, param),
                  arrow: true,
                  delay: 100,
                  placement: 'top',
                  theme: darkMode ? 'night' : 'day'
                }"
              >
                <InformationCircleIcon class="h-4 w-auto text-gray-400"></InformationCircleIcon></span
            ></label>

            <div class="mt-1 sm:col-span-1 lg:col-span-1 sm:mt-0"></div>
            <div class="mt-1 sm:col-span-1 lg:col-span-2 sm:mt-0">
              <input
                v-model="selectedOpParams[param]"
                type="text"
                :name="param"
                :id="param"
                autocomplete="off"
                class="w-full rounded-md border dark:text-gray-300 border-gray-300 dark:border-slate-500 bg-white dark:bg-slate-800 py-2 pl-3 pr-10 shadow-sm focus:border-emerald-500 dark:focus:border-emerald-100 focus:outline-none focus:ring-1 focus:ring-emerald-500 dark:focus:ring-emerald-100 sm:text-sm"
              />
            </div>
          </div>
        </template>
      </div>

      <div class="text-center">
        <button
          @click="broadcastOperation()"
          type="button"
          class="mt-6 inline-flex items-center rounded-md border border-transparent px-6 py-3 bg-emerald-600 dark:bg-emerald-400 text-base font-medium text-white dark:text-slate-800 hover:bg-emerald-700 dark:hover:bg-emerald-200 focus:outline-none focus:ring-2 focus:ring-emerald-500 dark:focus:ring-emerald-100"
        >
          Broadcast operation
        </button>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
  import { ref, computed, watch } from 'vue'
  import { splitAndCapitalize, timeAgo, formatISOTimestamp } from '../common/helpers/formatter'
  import { operations, mapOpsParams } from '../common/helpers/operations'
  import { useSettingsStore } from '../stores/settings'
  import { useAccountStore } from '../stores/account'

  const accountStore = useAccountStore()
  const loggedUser = ref(accountStore.account.name)

  const settingsStore = useSettingsStore()
  const darkMode = computed(() => settingsStore.settings.darkMode)

  const peakvault = (window as any).peakvault as any
  console.log(peakvault)

  const allowedOps = operations.filter(op => op.peakvault).map(op => ({ ...op, name: op.operation, value: op.operation }))
  const authorities: any = ref([])
  const selectedOp = ref('vote')
  const authority = ref('')

  const selectedOpDetails = computed(() => {
    selectedOpParams.value = []
    const selected = allowedOps.find((op: any) => op.name === selectedOp.value)
    authorities.value = selected?.roles.map((role: any) => {
      return { name: splitAndCapitalize(role), value: role }
    })
    authority.value = authorities.value[0].value
    return selected
  })
  const selectedOpParams = ref({})

  const broadcastOperation = async () => {
    try {
      switch (selectedOp.value) {
        case 'vote':
          reqVote()
          break
        case 'comment':
          reqPost()
          break
        case 'transfer':
          reqTrans()
          break
        default:
          reqJson()
          break
      }
    } catch (signErr: any) {
      console.error('Error signing trx: ', signErr)
    }
  }

  // peakvault operations
  const reqSign = async () => {
    const operation = [
      'custom_json',
      {
        required_auths: [],
        required_posting_auths: [loggedUser.value],
        id: 'peak-vault test',
        json: JSON.stringify({ message: 'Transaction requested by HiveHub' })
      }
    ]

    try {
      const res = await peakvault.requestSignOp(loggedUser.value, [operation], 'Posting')
      console.log('Response from the client', res)
    } catch (err) {
      alert(err.error)
      console.error(err)
    }
  }

  const reqBroadcast = async () => {
    const operation = [
      'custom_json',
      {
        required_auths: [],
        required_posting_auths: [loggedUser.value],
        id: 'peak-vault test',
        json: JSON.stringify({ message: 'Transaction requested by HiveHub and broadcasted from Peak Vault' })
      }
    ]

    try {
      const res = await peakvault.requestBroadcast(loggedUser.value, [operation], 'posting', 'Broadcast Test')
      console.log('Response from the client', res)
    } catch (err) {
      alert(err.error)
      console.error(err)
    }
  }

  const reqSignBuffer = async () => {
    try {
      const res = await peakvault.requestSignBuffer(loggedUser.value, 'posting', 'test')
      console.log(res)
    } catch (err) {
      console.error(err)
    }
  }

  const reqConnect = async () => {
    try {
      const res = await peakvault.connect('')
      console.log(res)
    } catch (err) {
      console.error(err)
    }
  }

  const reqJson = async () => {
    try {
      const res = await peakvault.requestCustomJson(
        loggedUser.value,
        selectedOpParams.value.id,
        authority.value,
        { message: 'request json test' },
        selectedOpParams.json
      )
      console.log(res)
    } catch (err) {
      console.error(err)
    }
  }

  const reqTrans = async () => {
    selectedOpParams.value.amount = Number.parseFloat(selectedOpParams.value.amount)
    try {
      const res = await peakvault.requestTransfer(...Object.values(selectedOpParams.value))
      console.log(res)
    } catch (err) {
      alert(err.error)
      console.error(err)
    }
  }

  const reqVote = async () => {
    selectedOpParams.value.weight = Number.parseInt(selectedOpParams.value.weight)
    try {
      const res = await peakvault.requestVote(...Object.values(selectedOpParams.value))
      console.log(res)
    } catch (err) {
      alert(err.error)
      console.error(err)
    }
  }

  const reqPost = async () => {
    try {
      const res = await peakvault.requestPost(
        selectedOpParams.value.author,
        selectedOpParams.value.title,
        selectedOpParams.value.body,
        selectedOpParams.value.parent_permlink || '',
        selectedOpParams.value.parent_author || '',
        selectedOpParams.value.json_metadata,
        selectedOpParams.value.permlink
      )
      console.log(res)
    } catch (err) {
      alert(err.error)
      console.log(err)
    }
  }
</script>
