<template>
  <div>
    <Transition name="toast">
      <Toast v-if="toast.show" :message="toast.message" />
    </Transition>

    <div class="flex justify-center">
      <div class="w-full grid grid-cols-1 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 2xl:grid-cols-6 gap-4">
        <div class="col-span-1 lg:col-span-2 xl:col-span-3 2xl:col-span-4 flex flex-col">
          <div class="rounded-lg p-3 bg-white dark:bg-slate-800 shadow ring-1 ring-black ring-opacity-5">
            <div class="flex items-center mb-3 px-2">
              <span v-if="showPriceChart" class="grow text-xl font-medium">Price Chart</span>
              <span v-else class="grow text-xl font-medium">Market Depth</span>

              <span class="isolate inline-flex rounded-md">
                <button
                  @click="showPriceChart = true"
                  class="relative inline-flex items-center rounded-l-md border px-4 py-1 text-sm font-medium"
                  :class="
                    showPriceChart
                      ? 'border-emerald-500 bg-emerald-500 text-white '
                      : 'border-gray-700 bg-white  text-gray-300 hover:bg-gray-50 dark:bg-slate-800'
                  "
                >
                  Price
                </button>
                <button
                  @click="showPriceChart = false"
                  class="relative inline-flex items-center rounded-r-md border px-4 py-1 text-sm font-medium"
                  :class="
                    !showPriceChart
                      ? 'border-emerald-500 bg-emerald-500 text-white '
                      : 'border-gray-700 bg-white  text-gray-300 hover:bg-gray-50 dark:bg-slate-800'
                  "
                >
                  Depth
                </button>
              </span>
            </div>

            <MarketPriceChart v-if="showPriceChart" interval="30" class="w-full h-full" style="max-height: 650px"></MarketPriceChart>
            <MarketDepthChart v-else class="w-full h-full" style="max-height: 650px"></MarketDepthChart>
          </div>

          <MyOpenOrders class="w-full mt-3"></MyOpenOrders>
        </div>

        <div class="col-span-1 relative flex flex-col w-full">
          <OrderBookAdvanced></OrderBookAdvanced>
        </div>

        <div class="col-span-1 flex flex-col">
          <div class="grow flex flex-col w-full">
            <div>
              <nav class="flex justify-center">
                <a
                  @click="showBuy = true"
                  :class="[
                    showBuy ? 'bg-emerald-500 text-white' : 'text-gray-500 hover:text-gray-700 bg-gray-50  dark:bg-slate-700',
                    'cursor-pointer p-3 text-center text-sm rounded-tl-md grow font-bold uppercase shadow ring-1 ring-black ring-opacity-5'
                  ]"
                  >Buy HIVE</a
                >
                <a
                  @click="showBuy = false"
                  :class="[
                    !showBuy ? 'bg-red-500 text-white' : 'text-gray-300 hover:text-gray-700 bg-gray-50 dark:bg-slate-700',
                    'cursor-pointer p-3 text-center text-sm rounded-tr-md grow font-bold uppercase shadow ring-1 ring-black ring-opacity-5'
                  ]"
                  >Sell HIVE</a
                >
              </nav>
            </div>

            <dl class="bg-white h-full rounded-b-md shadow ring-1 ring-black ring-opacity-5 lg:px-2 dark:bg-slate-800 flex flex-col">
              <div v-if="showBuy" class="flex flex-col grow border-b border-gray-100/10 px-4 py-3 text-center sm:border-0">
                <h2 class="mt-1 mb-3 text-center text-2xl font-bold text-gray-900 dark:text-gray-200">
                  Buy HIVE
                  <div class="text-gray-400 text-sm font-normal">(Sell HBD)</div>
                </h2>

                <div class="sm:grid sm:grid-cols-5 justify-start items-center content-center">
                  <label for="hivehbdratio" class="dark:text-gray-200 sm:col-span-2 text-sm font-medium text-gray-700">
                    Price
                    <div class="text-gray-400 text-xs font-normal">(HBD per HIVE)</div>
                  </label>
                  <div class="mt-1 sm:col-span-3">
                    <input
                      v-model="marketStore.market.HIVEHBD"
                      @change="() => marketStore.setHIVEAmount()"
                      id="hivehbdratio"
                      name="hivehbdratio"
                      type="number"
                      required
                      class="dark:bg-slate-800 appearance-none w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-emerald-500 focus:border-emerald-500 sm:text-sm"
                    />
                  </div>
                </div>
                <span class="dark:text-gray-200 font-medium text-right mt-1 text-xs text-gray-700"
                  >$ {{ (marketStore.market.HIVEHBD * marketStore.market.marketStats.hbdUsd).toFixed(4) }}</span
                >

                <div class="mt-3 sm:grid sm:grid-cols-5 justify-start items-center content-center">
                  <label for="hbdcost" class="dark:text-gray-200 sm:col-span-2 text-sm font-medium text-gray-700">HBD To Sell</label>
                  <div class="mt-1 sm:col-span-3">
                    <input
                      v-model="marketStore.market.HBDCost"
                      @change="() => marketStore.setHIVEAmount()"
                      id="hbdcost"
                      name="hbdcost"
                      type="number"
                      required
                      class="dark:bg-slate-800 appearance-none w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-emerald-500 focus:border-emerald-500 sm:text-sm"
                    />
                  </div>
                </div>
                <span class="dark:text-gray-200 font-medium text-right mt-1 text-xs text-gray-700"
                  >$ {{ (marketStore.market.HBDCost * marketStore.market.marketStats.hbdUsd).toFixed(4) }}</span
                >

                <div class="mt-3 sm:grid sm:grid-cols-5 justify-start items-center content-center">
                  <label for="hivetobuy" class="dark:text-gray-200 sm:col-span-2 text-sm font-medium text-gray-700">HIVE Result</label>
                  <div class="mt-1 sm:col-span-3">
                    <input
                      v-model="marketStore.market.HIVEAmount"
                      @change="() => marketStore.setHBDCost()"
                      id="hivetobuy"
                      name="hivetobuy"
                      type="number"
                      required
                      class="dark:bg-slate-800 appearance-none w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-emerald-500 focus:border-emerald-500 sm:text-sm"
                    />
                  </div>
                </div>
                <span class="dark:text-gray-200 font-medium text-right mt-1 text-xs text-gray-700"
                  >$
                  {{
                    ((isFinite(marketStore.market.HIVEAmount) ? marketStore.market.HIVEAmount : 0) * marketStore.market.marketStats.hiveUsd).toFixed(4)
                  }}</span
                >

                <div class="mt-5">
                  <div>
                    <button
                      @click="buyHIVE()"
                      class="w-full flex justify-center py-3 px-4 border border-transparent rounded-md shadow-sm font-bold text-lg uppercase text-white dark:text-slate-800 bg-emerald-600 dark:bg-emerald-400 hover:bg-emerald-700 dark:hover:bg-emerald-200 focus:outline-none focus:ring-2 focus:ring-emerald-500 dark:focus:ring-emerald-100"
                    >
                      Buy HIVE
                    </button>
                  </div>
                  <div @click="balanceClickHBD()" class="text-right text-sm mt-2">
                    Balance: <span class="font-medium">{{ accountStore.account.hbd_balance }}</span>
                  </div>
                </div>
              </div>
              <div v-else class="flex flex-col grow border-b border-gray-100/10 px-4 py-3 text-center sm:border-0">
                <h2 class="mt-1 mb-3 text-center text-2xl font-bold text-gray-900 dark:text-gray-200">
                  Sell HIVE
                  <div class="text-gray-400 text-sm font-normal">(Buy HBD)</div>
                </h2>

                <div class="sm:grid sm:grid-cols-5 justify-start items-center content-center">
                  <label for="hivehbdratio" class="dark:text-gray-200 sm:col-span-2 text-sm font-medium text-gray-700">
                    Price
                    <div class="text-gray-400 text-xs font-normal">(HBD per HIVE)</div>
                  </label>
                  <div class="mt-1 sm:col-span-3">
                    <input
                      v-model="marketStore.market.HIVEHBD"
                      @change="
                        () => {
                          marketStore.market.HBDHIVE = 1 / marketStore.market.HIVEHBD
                          marketStore.setHBDAmount()
                        }
                      "
                      id="hivehbdratio"
                      name="hivehbdratio"
                      type="number"
                      required
                      class="dark:bg-slate-800 appearance-none w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-emerald-500 focus:border-emerald-500 sm:text-sm"
                    />
                  </div>
                </div>
                <span class="dark:text-gray-200 font-medium text-right mt-1 text-xs text-gray-700"
                  >$ {{ (marketStore.market.HIVEHBD * marketStore.market.marketStats.hbdUsd).toFixed(4) }}</span
                >
                <div class="mt-3 sm:grid sm:grid-cols-5 justify-start items-center content-center">
                  <label for="hbdcost" class="dark:text-gray-200 sm:col-span-2 text-sm font-medium text-gray-700">HIVE To Sell</label>
                  <div class="mt-1 sm:col-span-3">
                    <input
                      v-model="marketStore.market.HIVECost"
                      @change="() => marketStore.setHBDAmount()"
                      id="hbdcost"
                      name="hbdcost"
                      type="number"
                      required
                      class="dark:bg-slate-800 appearance-none w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-emerald-500 focus:border-emerald-500 sm:text-sm"
                    />
                  </div>
                </div>
                <span class="dark:text-gray-200 font-medium text-right mt-1 text-xs text-gray-700"
                  >$ {{ (marketStore.market.HIVECost * marketStore.market.marketStats.hiveUsd).toFixed(4) }}</span
                >

                <div class="mt-3 sm:grid sm:grid-cols-5 justify-start items-center content-center">
                  <label for="hivetobuy" class="dark:text-gray-200 sm:col-span-2 text-sm font-medium text-gray-700">HBD Result</label>
                  <div class="mt-1 sm:col-span-3">
                    <input
                      v-model="marketStore.market.HBDAmount"
                      @change="() => marketStore.setHIVECost()"
                      id="hivetobuy"
                      name="hivetobuy"
                      type="number"
                      required
                      class="dark:bg-slate-800 appearance-none w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-emerald-500 focus:border-emerald-500 sm:text-sm"
                    />
                  </div>
                </div>
                <span class="dark:text-gray-200 font-medium text-right mt-1 text-xs text-gray-700"
                  >$
                  {{ ((isFinite(marketStore.market.HBDAmount) ? marketStore.market.HBDAmount : 0) * marketStore.market.marketStats.hbdUsd).toFixed(4) }}</span
                >

                <div class="mt-5">
                  <div>
                    <button
                      @click="buyHBD()"
                      class="w-full flex justify-center py-3 px-4 border border-transparent rounded-md shadow-sm font-bold text-lg uppercase text-white dark:text-slate-800 bg-red-600 dark:bg-red-400 hover:bg-red-700 dark:hover:bg-red-200 focus:outline-none focus:ring-2 focus:ring-emerald-500 dark:focus:ring-emerald-100"
                    >
                      Sell HIVE
                    </button>
                  </div>
                  <div @click="balanceClickHIVE()" class="text-right text-sm mt-2">
                    Balance: <span class="font-medium">{{ accountStore.account.balance }}</span>
                  </div>
                </div>
              </div>

              <div class="rounded-md bg-slate-200 p-4 mb-2">
                <div class="flex">
                  <div class="flex-shrink-0">
                    <InformationCircleIcon class="h-5 w-5 text-slate-500" aria-hidden="true" />
                  </div>
                  <div class="ml-3 flex-1 md:flex md:justify-between">
                    <p class="text-sm text-slate-800">
                      A <span class="font-medium">Limit Order</span> will be executed once the market reaches your specified price
                    </p>
                  </div>
                </div>
              </div>
            </dl>
          </div>

          <TradeHistoryAdvanced class="w-full mt-3"></TradeHistoryAdvanced>
        </div>
      </div>
    </div>

    <TransitionRoot :as="LoginModal" :show="loginModalOpen" @close="toggleLoginModal(false)"></TransitionRoot>
  </div>
</template>

<script setup lang="ts">
  import { InformationCircleIcon } from '@heroicons/vue/solid'
  import LoginModal from '~/common/components/modals/LoginModal.vue'
  import { useAccountStore } from '~/stores/account'
  import { useMarketStore } from '~/stores/market'
  import { broadcast } from '~/common/api/hiveApi'

  const marketStore = useMarketStore()
  const accountStore = useAccountStore()

  const showBuy = ref(true)
  const showPriceChart = ref(true)

  const tab = ref('my-orders')

  const toast = ref({
    show: false,
    message: '',
    actionOnTimeout: () => {}
  })
  const triggerToast = (message: string, actionOnTimeout: any = () => {}) => {
    toast.value.show = true
    toast.value.message = message
    setTimeout(() => {
      actionOnTimeout()
      toast.value.show = false
    }, 1500)
  }

  let loginModalOpen = ref(false)
  const toggleLoginModal = (open = false) => {
    loginModalOpen.value = open
  }

  function balanceClickHIVE() {
    marketStore.market.HIVECost = parseFloat(accountStore.account.balance.split(' ')[0])
    marketStore.setHBDAmount()
  }
  function balanceClickHBD() {
    marketStore.market.HBDCost = parseFloat(accountStore.account.hbd_balance.split(' ')[0])
    marketStore.setHIVEAmount()
  }

  const buyHIVE = async () => {
    if (accountStore.account.name && (marketStore.market.HIVEHBD || 0) > 0 && marketStore.market.HIVEAmount > 0 && marketStore.market.HBDCost > 0) {
      let expiration: any = new Date(Date.now())
      expiration.setDate(expiration.getDate() + 27)
      expiration = expiration.toISOString().split('.')[0]

      const op = [
        'limit_order_create',
        {
          orderid: Math.floor(Date.now() / 1000),
          owner: accountStore.account.name,
          amount_to_sell: `${parseFloat(marketStore.market.HIVEAmount * (marketStore.market.HIVEHBD || 0)).toFixed(3)} HBD`,
          min_to_receive: `${parseFloat(marketStore.market.HIVEAmount).toFixed(3)} HIVE`,
          fill_or_kill: false,
          expiration: expiration
        }
      ]

      await broadcast(accountStore.account.name, [op], 'active', 'Limit order create buy HIVE', async response => {
        console.log(response)
        accountStore.updateOpenOrders()
        await accountStore.updateBalances()
      })
    } else if (!accountStore.account.name) {
      triggerToast('You need to login', () => {
        toggleLoginModal(true)
      })
    }
  }

  const buyHBD = async () => {
    if (accountStore.account.name) {
      let expiration: any = new Date(Date.now())
      expiration.setDate(expiration.getDate() + 27)
      expiration = expiration.toISOString().split('.')[0]

      const op = [
        'limit_order_create',
        {
          orderid: Math.floor(Date.now() / 1000),
          owner: accountStore.account.name,
          amount_to_sell: `${parseFloat(marketStore.market.HBDAmount * (marketStore.market.HBDHIVE || 0)).toFixed(3)} HIVE`,
          min_to_receive: `${parseFloat(marketStore.market.HBDAmount).toFixed(3)} HBD`,
          fill_or_kill: false,
          expiration: expiration
        }
      ]

      await broadcast(accountStore.account.name, [op], 'active', 'Limit order create buy HBD', async response => {
        console.log(response)
        accountStore.updateOpenOrders()
        await accountStore.updateBalances()
      })
    } else if (!accountStore.account.name) {
      triggerToast('You need to login', () => {
        toggleLoginModal(true)
      })
    }
  }

  onMounted(() => {
    if (!accountStore.account.name || !(accountStore.account.open_orders.length > 0)) tab.value = 'order-book'
  })
</script>

<style>
  .toast-enter-from {
    opacity: 0;
    transform: translateY(-60px);
  }
  .toast-enter-active {
    transition: all 0.3s ease;
  }
  .toast-leave-to {
    opacity: 0;
    transform: translateY(-60px);
  }
  .toast-leave-active {
    transition: all 0.3s ease;
  }
</style>
