<template>
  <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900 mb-3 dark:text-gray-200">My trade history</h2>

  <span v-if="!tradeHistory[0]">Loading ...</span>
  <div v-else class="flex flex-col shadow ring-1 ring-black ring-opacity-5">
    <div class="overflow-x-auto">
      <div class="inline-block min-w-full align-middle">
        <div class="overflow-hidden rounded-lg">
          <table class="min-w-full divide-y divide-gray-300">
            <thead class="bg-gray-50 dark:bg-slate-800">
              <tr>
                <th scope="col" class="dark:text-gray-100 py-3.5 pl-4 pr-3 text-center text-sm font-semibold text-gray-900">
                  <div class="flex items-center justify-center">Time</div>
                </th>
                <th v-if="!isMobile" scope="col" class="dark:text-gray-100 py-3.5 pl-4 pr-3 text-center text-sm font-semibold text-gray-900">
                  <div class="flex items-center justify-center">Amount HIVE/HBD</div>
                </th>
                <th v-else scope="col" class="dark:text-gray-100 py-3.5 pl-4 pr-3 text-center text-sm font-semibold text-gray-900">
                  <div class="flex items-center justify-center">Amount HIVE</div>
                </th>
                <!-- <th scope="col" class="py-3.5 pl-4 pr-3 text-center text-sm font-semibold text-gray-900">
                      <div class="flex items-center justify-center">HBD</div>
                    </th> -->
                <!-- <th scope="col" class="py-3.5 pl-4 pr-3 text-center text-sm font-semibold text-gray-900">
                      <div class="flex items-center justify-center">HIVE per HBD</div>
                    </th> -->
                <th v-if="!isMobile" scope="col" class="dark:text-gray-100 py-3.5 pl-4 pr-3 text-center text-sm font-semibold text-gray-900">
                  <div class="flex items-center justify-center">HIVE per HBD / HBD per HIVE</div>
                </th>
                <th v-else scope="col" class="dark:text-gray-100 py-3.5 pl-4 pr-3 text-center text-sm font-semibold text-gray-900">
                  <div class="flex items-center justify-center">HBD per HIVE</div>
                </th>
              </tr>
            </thead>
            <tbody class="divide-y divide-gray-200 bg-white dark:bg-slate-700">
              <tr v-for="(trade, index) in historyPaginated[historyActivePage]" :key="trade.date">
                <td class="dark:text-gray-100 whitespace-nowrap py-3.5 pl-4 pr-3 text-center text-sm text-gray-500">{{ timeSince(new Date(trade.date)) }}</td>
                <td v-if="!isMobile" class="dark:text-gray-100 whitespace-nowrap py-3.5 pl-4 pr-3 text-center text-sm text-gray-500 font-medium text-base">
                  <span :class="trade.taker === 'HIVE' ? ' font-bold' : ''">{{ trade.HIVE }} HIVE</span> /
                  <span :class="trade.taker === 'HBD' ? ' font-bold' : ''">{{ trade.HBD }} HBD</span>
                </td>
                <td v-else class="dark:text-gray-100 whitespace-nowrap py-3.5 pl-4 pr-3 text-center text-sm text-gray-500 font-medium text-base">
                  <span v-if="trade.taker === 'HIVE'" class="text-green-400">{{ trade.HIVE }} HIVE</span>
                  <span v-else class="text-red-400">{{ trade.HIVE }} HIVE</span>
                </td>
                <!-- <td
                      class="whitespace-nowrap py-3.5 pl-4 pr-3 text-center text-sm text-gray-500 font-medium text-base"
                      :class="trade.taker === 'HBD' ? ' text-green-500' : 'text-red-500'"
                    >
                      {{ trade.HBD }} HBD
                    </td> -->
                <!-- <td class="whitespace-nowrap py-3.5 pl-4 pr-3 text-center text-sm text-gray-500" @click="marketStore.setHBDHIVE(trade.HIVE / trade.HBD)">
                      {{ parseFloat(trade.HIVE / trade.HBD).toFixed(3) }} HIVE
                    </td> -->
                <td
                  v-if="!isMobile"
                  class="dark:text-gray-100 whitespace-nowrap py-3.5 pl-4 pr-3 text-center text-sm text-gray-500"
                  @click="marketStore.setHIVEHBD(trade.HBD / trade.HIVE)"
                >
                  <span :class="trade.taker === 'HIVE' ? ' font-bold' : ''">{{ parseFloat(trade.HIVE / trade.HBD).toFixed(3) }} </span> /<span
                    :class="trade.taker === 'HBD' ? ' font-bold' : ''"
                  >
                    {{ parseFloat(trade.HBD / trade.HIVE).toFixed(3) }}
                  </span>
                </td>
                <td
                  v-else
                  class="dark:text-gray-100 whitespace-nowrap py-3.5 pl-4 pr-3 text-center text-sm text-gray-500"
                  @click="marketStore.setHIVEHBD(trade.HBD / trade.HIVE)"
                >
                  <span>
                    {{ parseFloat(trade.HBD / trade.HIVE).toFixed(3) }}
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
          <nav class="flex items-center justify-between border-t border-gray-200 px-4 sm:px-0">
            <div class="-mt-px flex w-0 flex-1"></div>
            <div class="md:-mt-px md:flex">
              <button
                v-for="index in historyPaginated.length"
                :on-icon="'mdi-check-circle'"
                class="inline-flex items-center border-t-2 border-transparent px-4 pt-4 text-sm font-medium hover:border-gray-300 hover:text-gray-700"
                v-on:click="onClickOnPage(index)"
                :class="
                  index.toString() === (historyActivePage + 1).toString()
                    ? 'font-extrabold border-t-2 border-emerald-600 px-4 pt-4 text-sm  text-emerald-600'
                    : 'font-medium text-gray-400 dark:text-gray-100'
                "
              >
                {{ index }}
              </button>
            </div>
            <div class="-mt-px flex w-0 flex-1 justify-end"></div>
          </nav>
        </div>
      </div>
    </div>
  </div>
</template>
<script setup lang="ts">
  import { useMarketStore } from '~/stores/market'
  import { getTradeHistory, getAccountLastTrades } from '~/common/api/hiveApi'
  import { useAccountStore } from '~/stores/account'

  const accountStore = useAccountStore()
  const marketStore = useMarketStore()

  const refreshTimer = ref()

  const tradeHistory = ref<
    Array<{
      date: string
      HBD: number
      HIVE: number
      current_pays: string
      open_pays: string
      maker: string
      taker: string
    }>
  >([])

  const isMobile = ref(false)

  const historyPaginated = computed(() => {
    let size = 5
    let arrayOfArrays = []
    const activeHistory = tradeHistory
    for (let i = 0; i < activeHistory.value.length; i += size) {
      arrayOfArrays.push(activeHistory.value.slice(i, i + size))
    }

    return arrayOfArrays
  })

  const onClickMyHistory = async () => {
    let accountLogged = accountStore.account.name
    if (accountLogged) {
      const lastTrades = (await getAccountLastTrades(accountLogged)).map(obj => {
        return {
          date: obj[1].timestamp,
          HBD: parseFloat((obj[1].op[1].current_pays.includes('HBD') ? obj[1].op[1].current_pays : obj[1].op[1].open_pays).split(' ')[0]).toFixed(3),
          HIVE: parseFloat((obj[1].op[1].current_pays.includes('HIVE') ? obj[1].op[1].current_pays : obj[1].op[1].open_pays).split(' ')[0]).toFixed(3),
          current_pays: obj[1].op[1].current_pays,
          open_pays: obj[1].op[1].open_pays,
          maker: obj[1].op[1].open_owner,
          taker: obj[1].op[1].current_owner
        }
      })
      tradeHistory.value = lastTrades.reverse()

      // tradeHistory.value=lastTrades.map(obj=>{date:})
    }
  }

  const onClickOnPage = page => {
    historyActivePage.value = page - 1
  }
  const historyActivePage = ref(0)
  function timeSince(date) {
    const dateNotUTC = new Date()
    let dateUTC =
      dateNotUTC.getUTCFullYear() +
      '-' +
      (dateNotUTC.getUTCMonth() < 9 ? '0' + (dateNotUTC.getUTCMonth() + 1) : dateNotUTC.getUTCMonth() + 1) +
      '-' +
      (dateNotUTC.getUTCDate() > 9 ? dateNotUTC.getUTCDate() : `0${dateNotUTC.getUTCDate()}`) +
      // dateNotUTC.getUTCDate() +
      'T' +
      (dateNotUTC.getUTCHours() > 9 ? dateNotUTC.getUTCHours() : `0${dateNotUTC.getUTCHours()}`) +
      ':' +
      (dateNotUTC.getUTCMinutes() > 9 ? dateNotUTC.getUTCMinutes() : `0${dateNotUTC.getUTCMinutes()}`) +
      ':' +
      (dateNotUTC.getUTCSeconds() > 9 ? dateNotUTC.getUTCSeconds() : `0${dateNotUTC.getUTCSeconds()}`)
    var seconds = Math.floor((new Date(dateUTC) - date) / 1000)
    var interval = seconds / 31536000
    if (interval > 1) {
      return Math.floor(interval) + ' years'
    }
    interval = seconds / 2592000
    if (interval > 1) {
      return Math.floor(interval) + ' months'
    }
    interval = seconds / 86400
    if (interval > 1) {
      return Math.floor(interval) + ' days'
    }
    interval = seconds / 3600
    if (interval > 1) {
      return Math.floor(interval) + ' hrs'
    }
    interval = seconds / 60
    if (interval > 1) {
      return Math.floor(interval) + ' min'
    }
    return Math.floor(seconds) + ' s'
  }

  onMounted(async () => {
    isMobile.value = /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)

    const today = new Date()

    const startDate = new Date(today.setDate(today.getDate() - 1)).toISOString()

    const history = await getTradeHistory(1000, startDate.substring(0, 19))
    if (history[0].date) {
      onClickMyHistory()
    }

    refreshTimer.value = setInterval(async () => {
      onClickMyHistory()
    }, 5000)
  })

  onUnmounted(async () => {
    if (refreshTimer.value) {
      clearInterval(refreshTimer.value)
    }
  })
</script>
