<template>
  <div class="flex flex-col rounded-md shadow ring-1 ring-black ring-opacity-5">
    <Teleport to="#market-limit-table-target">
      <div class="flex text-sm" style="font-size: 0.8rem">
        <div class="flex items-center">
          <div class="bg-blue-100 text-blue-800 inline-flex items-baseline px-2.5 py-0.5 rounded-full text-sm font-medium mr-1.5">
            <SunIcon class="-ml-1 mr-0.5 h-3 w-3 flex-shrink-0 self-center text-blue-500" aria-hidden="true" />
            24hr vol
          </div>
          <div class="leading-4">
            <span class="block">{{ formatCurrency(volumePastDayHive, '0,0.000') }} HIVE</span>
            <span class="block">{{ formatCurrency(volumePastDayHbd, '0,0.000') }} HBD</span>
          </div>
        </div>
        <div class="flex items-center ml-5">
          <div class="bg-blue-100 text-blue-800 inline-flex items-baseline px-2.5 py-0.5 rounded-full text-sm font-medium mr-1.5">
            <ClockIcon class="-ml-1 mr-0.5 h-3 w-3 flex-shrink-0 self-center text-blue-500" aria-hidden="true" />
            1hr vol
          </div>
          <div class="leading-4">
            <span class="block">{{ formatCurrency(volumePastHourHive, '0,0.000') }} HIVE</span>
            <span class="block">{{ formatCurrency(volumePastHourHbd, '0,0.000') }} HBD</span>
          </div>
        </div>
      </div>
    </Teleport>

    <div class="overflow-x-auto">
      <div class="inline-block min-w-full align-middle">
        <div class="overflow-hidden rounded-lg">
          <table class="min-w-full divide-y divide-gray-300 dark:divide-slate-500">
            <thead class="bg-gray-50 dark:bg-slate-800">
              <tr>
                <th scope="col" class="dark:text-gray-100 px-2 py-3.5 text-center text-sm font-medium text-gray-900">Time</th>
                <th scope="col" class="dark:text-gray-100 px-2 py-3.5 text-right text-sm font-medium text-gray-900">Price (HBD)</th>
                <th scope="col" class="dark:text-gray-100 px-2 py-3.5 text-right text-sm font-medium text-gray-900">HIVE per HBD</th>
                <th scope="col" class="dark:text-gray-100 px-2 py-3.5 text-right text-sm font-medium text-gray-900">HIVE</th>
                <th scope="col" class="dark:text-gray-100 px-2 py-3.5 text-right text-sm font-medium text-gray-900">HBD</th>
              </tr>
            </thead>
            <tbody class="divide-y divide-gray-300 dark:divide-slate-500 bg-white dark:bg-slate-700">
              <tr v-if="!tradeHistory.length">
                <td :colspan="5" class="dark:text-gray-100 whitespace-nowrap px-2 py-2 text-center text-sm text-gray-500">Loading ...</td>
              </tr>
              <tr
                v-for="(trade, index) in historyPaginated[historyActivePage]"
                :key="index"
                :class="trade.taker === 'HIVE' ? 'text-green-600' : 'text-red-500'"
              >
                <td class="dark:text-gray-100 whitespace-nowrap px-2 py-2 text-center text-xs">
                  {{ timeSince(new Date(trade.date)) }}
                </td>

                <td class="dark:text-gray-100 whitespace-nowrap px-2 py-2 text-right text-xs font-medium relative">
                  <div class="relative flex flex-col items-end ml-1">
                    <div class="cursor-pointer relative z-10 w-fit group" @click="onClickPriceHbd(parseFloat(trade.HBD) / parseFloat(trade.HIVE))">
                      <span>{{ (parseFloat(trade.HBD) / parseFloat(trade.HIVE)).toFixed(4) }}</span>
                      <div class="absolute w-fit mx-auto bottom-0 -right-4 flex-col items-center invisible mb-6 group-hover:visible">
                        <span
                          class="relative z-10 p-2 text-sm leading-none text-white dark:text-slate-800 whitespace-no-wrap bg-slate-800 dark:bg-gray-50 shadow rounded-md"
                        >
                          {{ (parseFloat(trade.HBD) / parseFloat(trade.HIVE)).toFixed(5) }}
                        </span>
                      </div>
                    </div>
                  </div>
                </td>

                <td class="dark:text-gray-100 whitespace-nowrap px-2 py-2 text-right text-xs font-medium relative">
                  <div class="relative flex flex-col items-end ml-1">
                    <div class="cursor-pointer relative z-10 w-fit group" @click="onClickHivePerHbd(parseFloat(trade.HIVE) / parseFloat(trade.HBD))">
                      <span>{{ (parseFloat(trade.HIVE) / parseFloat(trade.HBD)).toFixed(4) }}</span>
                      <div class="absolute w-fit mx-auto bottom-0 -right-4 flex-col items-center invisible mb-6 group-hover:visible">
                        <span
                          class="relative z-10 p-2 text-sm leading-none text-white dark:text-slate-800 whitespace-no-wrap bg-slate-800 dark:bg-gray-50 shadow rounded-md"
                        >
                          {{ (parseFloat(trade.HIVE) / parseFloat(trade.HBD)).toFixed(5) }}
                        </span>
                      </div>
                    </div>
                  </div>
                </td>

                <td class="dark:text-gray-100 whitespace-nowrap px-2 py-2 text-right text-xs font-medium leading-3">
                  {{ formatCurrency(trade.HIVE, '0,0.000') }}
                  <span class="block italic text-xs font-light text-gray-400">{{ trade.taker === 'HIVE' ? 'bought' : 'sold' }}</span>
                </td>
                <td class="dark:text-gray-100 whitespace-nowrap px-2 py-2 text-right text-xs font-medium leading-3">
                  {{ formatCurrency(trade.HBD, '0,0.000') }}
                  <span class="block italic text-xs font-light text-gray-400">{{ trade.taker === 'HIVE' ? 'sold' : 'bought' }}</span>
                </td>
              </tr>
            </tbody>
          </table>

          <nav class="flex items-center justify-between border-t border-gray-200 px-4 sm:px-0">
            <div class="-mt-px flex w-0 flex-1"></div>
            <div class="md:-mt-px md:flex">
              <button
                v-for="index in historyPaginated.length"
                :on-icon="'mdi-check-circle'"
                class="inline-flex items-center border-t-2 border-transparent px-4 py-4 text-xs font-medium hover:border-gray-300 hover:text-gray-700"
                v-on:click="onClickOnPage(index)"
                :class="
                  index.toString() === (historyActivePage + 1).toString()
                    ? 'font-extrabold border-t-2 border-emerald-600 px-4 pt-4 text-xs  text-emerald-600'
                    : 'font-medium text-gray-400 dark:text-gray-100'
                "
              >
                {{ index }}
              </button>
            </div>
            <div class="-mt-px flex w-0 flex-1 justify-end"></div>
          </nav>
        </div>
      </div>
    </div>
  </div>
</template>
<script setup lang="ts">
  import { ClockIcon, SunIcon } from '@heroicons/vue/solid'
  import { formatCurrency, timeSince } from '~/common/helpers/formatter'
  import { useMarketStore } from '~/stores/market'

  const marketStore = useMarketStore()

  const tradeHistory = ref<
    Array<{
      date: string
      HBD: number
      HIVE: number
      current_pays: string
      open_pays: string
      maker: string
      taker: string
    }>
  >([])

  const historyPaginated = computed(() => {
    let size = 20
    let arrayOfArrays = []
    for (let i = 0; i < tradeHistory.value.length; i += size) {
      arrayOfArrays.push(tradeHistory.value.slice(i, i + size))
    }

    return arrayOfArrays
  })

  const historyActivePage = ref(0)
  const onClickOnPage = (page: number) => {
    historyActivePage.value = page - 1
  }

  const onClickPriceHbd = ratio => {
    marketStore.setHIVEHBD(ratio)
  }
  const onClickHivePerHbd = ratio => {
    marketStore.setHBDHIVE(ratio)
  }

  const updateHistory = async () => {
    tradeHistory.value = await marketStore.updateTradeHistory()
    if (tradeHistory.value[0].date) {
      tradeHistory.value = tradeHistory.value.reverse().map(trade => ({
        ...trade,
        HIVE: parseFloat((trade.current_pays.includes('HIVE') ? trade.current_pays : trade.open_pays).split(' ')[0]).toFixed(3),
        HBD: parseFloat((trade.current_pays.includes('HBD') ? trade.current_pays : trade.open_pays).split(' ')[0]).toFixed(3),
        maker: trade.current_pays.split(' ')[1],
        taker: trade.open_pays.split(' ')[1]
      }))
    }
  }
  const volumePastHourHive = computed(() => {
    return marketStore.market.tradeHistory
      .filter(obj => {
        const timeSinceThisTrade = timeSince(new Date(obj.date))
        return timeSinceThisTrade.includes('secs') || timeSinceThisTrade.includes('mins')
      })
      .reduce((result, obj) => {
        return result + parseFloat(obj.current_pays.includes('HIVE') ? obj.current_pays.split(' ')[0] : obj.open_pays.split(' ')[0])
      }, 0)
      .toFixed(3)
  })
  const volumePastHourHbd = computed(() =>
    marketStore.market.tradeHistory
      .filter(obj => {
        const timeSinceThisTrade = timeSince(new Date(obj.date))
        return timeSinceThisTrade.includes('secs') || timeSinceThisTrade.includes('mins')
      })
      .reduce((result, obj) => {
        return result + parseFloat(obj.current_pays.includes('HBD') ? obj.current_pays.split(' ')[0] : obj.open_pays.split(' ')[0])
      }, 0)
      .toFixed(3)
  )
  const volumePastDayHive = computed(() => {
    return marketStore.market.tradeHistory
      .filter(obj => {
        const timeSinceThisTrade = timeSince(new Date(obj.date))
        return timeSinceThisTrade.includes('secs') || timeSinceThisTrade.includes('mins') || timeSinceThisTrade.includes('hours')
      })
      .reduce((result, obj) => {
        return result + parseFloat(obj.current_pays.includes('HIVE') ? obj.current_pays.split(' ')[0] : obj.open_pays.split(' ')[0])
      }, 0)
      .toFixed(3)
  })
  const volumePastDayHbd = computed(() =>
    marketStore.market.tradeHistory
      .filter(obj => {
        const timeSinceThisTrade = timeSince(new Date(obj.date))
        return timeSinceThisTrade.includes('secs') || timeSinceThisTrade.includes('mins') || timeSinceThisTrade.includes('hours')
      })
      .reduce((result, obj) => {
        return result + parseFloat(obj.current_pays.includes('HBD') ? obj.current_pays.split(' ')[0] : obj.open_pays.split(' ')[0])
      }, 0)
      .toFixed(3)
  )

  const refreshTimer = ref()
  onMounted(async () => {
    await updateHistory()

    refreshTimer.value = setInterval(async () => {
      await updateHistory()
    }, 20000)
  })

  onBeforeUnmount(() => {
    if (refreshTimer.value) {
      clearInterval(refreshTimer.value)
    }
  })
</script>
