<template>
  <div>
    <Teleport to="#page-header-right-target">
      <Filters @change="handleFilterChange" @clearFilters="clearFilters" :filters="filters"></Filters>
    </Teleport>

    <div class="flex flex-col shadow ring-1 ring-black dark:ring-slate-700 ring-opacity-5">
      <div class="overflow-x-auto">
        <div class="inline-block min-w-full align-middle">
          <div class="overflow-hidden rounded-lg">
            <table class="min-w-full divide-y divide-gray-300 dark:divide-slate-600">
              <thead class="bg-gray-50 dark:bg-slate-900">
                <tr>
                  <th
                    scope="col"
                    @click="setSortDir('name')"
                    class="py-6 pl-4 text-left text-sm font-semibold text-gray-900 dark:text-gray-100 hover:cursor-pointer"
                    :class="[currentSort === 'name' ? 'bg-gray-200 dark:bg-slate-700/50 ' : 'hover:bg-gray-100 dark:hover:bg-slate-700/50']"
                  >
                    <div class="flex items-center justify-start">
                      {{ $t('tokens.name') }}
                      <component
                        v-if="currentSort === 'name'"
                        :is="currentSortDir === 'asc' ? ArrowSmUpIcon : ArrowSmDownIcon"
                        class="h-4 w-4 ml-1"
                      ></component>
                    </div>
                  </th>
                  <th
                    scope="col"
                    @click="setSortDir('symbol')"
                    class="py-2 pl-4 pr-3 text-center text-sm font-semibold text-gray-900 dark:text-gray-100 hover:cursor-pointer"
                    :class="[currentSort === 'symbol' ? 'bg-gray-200 dark:bg-slate-700/50 ' : 'hover:bg-gray-100 dark:hover:bg-slate-700/50']"
                  >
                    <div class="flex items-center justify-center">
                      {{ 'Type' }}
                      <component
                        v-if="currentSort === 'symbol'"
                        :is="currentSortDir === 'asc' ? ArrowSmUpIcon : ArrowSmDownIcon"
                        class="h-4 w-4 ml-1"
                      ></component>
                    </div>
                  </th>
                  <th
                    scope="col"
                    @click="setSortDir('total_posts')"
                    class="py-2 pl-4 pr-3 text-center text-sm font-semibold text-gray-900 dark:text-gray-100 hover:cursor-pointer"
                    :class="[currentSort === 'total_posts' ? 'bg-gray-200 dark:bg-slate-700/50 ' : 'hover:bg-gray-100 dark:hover:bg-slate-700/50']"
                  >
                    <div class="flex items-center justify-center">
                      {{ 'Fee Information' }}
                      <component
                        v-if="currentSort === 'total_posts'"
                        :is="currentSortDir === 'asc' ? ArrowSmUpIcon : ArrowSmDownIcon"
                        class="h-4 w-4 ml-1"
                      ></component>
                    </div>
                  </th>
                  <th
                    scope="col"
                    @click="setSortDir('total_comments')"
                    class="py-2 pl-4 pr-3 text-center text-sm font-semibold text-gray-900 dark:text-gray-100 hover:cursor-pointer"
                    :class="[currentSort === 'total_comments' ? 'bg-gray-200 dark:bg-slate-700/50 ' : 'hover:bg-gray-100 dark:hover:bg-slate-700/50']"
                  >
                    <div class="flex items-center justify-center">
                      {{ 'Location Website' }}
                      <component
                        v-if="currentSort === 'total_comments'"
                        :is="currentSortDir === 'asc' ? ArrowSmUpIcon : ArrowSmDownIcon"
                        class="h-4 w-4 ml-1"
                      ></component>
                    </div>
                  </th>
                  <th
                    scope="col"
                    @click="setSortDir('total_payouts_hbd')"
                    class="py-2 pl-4 pr-3 text-center text-sm font-semibold text-gray-900 dark:text-gray-100 hover:cursor-pointer"
                    :class="[currentSort === 'total_payouts_hbd' ? 'bg-gray-200 dark:bg-slate-600/50 ' : 'hover:bg-gray-100 dark:hover:bg-slate-700/50']"
                  >
                    <div class="flex items-center justify-center">
                      {{ 'Restrictions' }}
                      <component
                        v-if="currentSort === 'total_payouts_hbd'"
                        :is="currentSortDir === 'asc' ? ArrowSmUpIcon : ArrowSmDownIcon"
                        class="h-4 w-4 ml-1"
                      ></component>
                    </div>
                  </th>
                  <th
                    scope="col"
                    @click="setSortDir('total_payouts_hbd')"
                    class="py-2 pl-4 pr-3 text-center text-sm font-semibold text-gray-900 dark:text-gray-100 hover:cursor-pointer"
                    :class="[currentSort === 'total_payouts_hbd' ? 'bg-gray-200 dark:bg-slate-600/50 ' : 'hover:bg-gray-100 dark:hover:bg-slate-700/50']"
                  >
                    <div class="flex items-center justify-center">
                      {{ 'USA Allowed' }}
                      <component
                        v-if="currentSort === 'total_payouts_hbd'"
                        :is="currentSortDir === 'asc' ? ArrowSmUpIcon : ArrowSmDownIcon"
                        class="h-4 w-4 ml-1"
                      ></component>
                    </div>
                  </th>
                  <th
                    scope="col"
                    @click="setSortDir('total_payouts_hbd')"
                    class="py-2 pl-4 pr-3 text-center text-sm font-semibold text-gray-900 dark:text-gray-100 hover:cursor-pointer"
                    :class="[currentSort === 'total_payouts_hbd' ? 'bg-gray-200 dark:bg-slate-600/50 ' : 'hover:bg-gray-100 dark:hover:bg-slate-700/50']"
                  >
                    <div class="flex items-center justify-center">
                      {{ 'Wallets' }}
                      <component
                        v-if="currentSort === 'total_payouts_hbd'"
                        :is="currentSortDir === 'asc' ? ArrowSmUpIcon : ArrowSmDownIcon"
                        class="h-4 w-4 ml-1"
                      ></component>
                    </div>
                  </th>
                </tr>
              </thead>
              <tbody
                v-for="location in sortedLocations"
                class="border-b border-gray-200 dark:border-gray-700 divide-y divide-gray-200 dark:divide-slate-600 bg-white dark:bg-slate-800"
              >
                <tr>
                  <td scope="row" class="whitespace-nowrap py-2 pl-4 text-base sm:pl-6">
                    <div class="flex items-center justify-start">
                      <div class="flex items-center ml-3">
                        <router-link :to="'/'" class="font-medium text-gray-900 dark:text-gray-100">{{ token.name }}</router-link>
                      </div>
                    </div>
                  </td>
                  <td class="px-6 py-2 bg-slate-100 dark:bg-slate-700 whitespace-nowrap pl-4 pr-3 text-center text-sm text-gray-500 dark:text-gray-300">
                    {{}}
                  </td>
                  <td class="px-6 py-2 bg-gray-50 dark:bg-slate-800 whitespace-nowrap pl-4 pr-3 text-center text-sm text-gray-600 dark:text-gray-300">{{}}</td>
                  <td class="px-6 py-2 bg-slate-100 dark:bg-slate-700 whitespace-nowrap pl-4 pr-3 text-center text-sm text-gray-600 dark:text-gray-300">
                    {{}}
                  </td>
                  <td class="px-6 py-2 bg-gray-50 dark:bg-slate-800 whitespace-nowrap pl-4 pr-3 text-center text-sm text-gray-600 dark:text-gray-300">{{}}</td>
                  <td class="px-6 py-2 bg-gray-50 dark:bg-slate-800 whitespace-nowrap pl-4 pr-3 text-center text-sm text-gray-600 dark:text-gray-300">{{}}</td>
                  <td class="px-6 py-2 bg-slate-100 dark:bg-slate-700 whitespace-nowrap pl-4 pr-3 text-center text-sm text-gray-600 dark:text-gray-300">
                    {{}}
                  </td>
                  <td class="px-6 py-2 bg-gray-50 dark:bg-slate-800 whitespace-nowrap pl-4 pr-3 text-center text-sm text-gray-600 dark:text-gray-300">{{}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
  import { ChevronDownIcon } from '@heroicons/vue/solid'
  import { ArrowSmUpIcon, ArrowSmDownIcon } from '@heroicons/vue/outline'
  import { fetchRoutes, fetchTokens } from '~/tokenRoutes/api/tokenRoutesApi'
  import { splitAndCapitalize } from '~/common/helpers/formatter'
  import { Ref } from 'vue'

  const route = useRoute()

  const locationList: Ref<any[]> = ref([])

  // sorting
  const currentSort = ref('name')
  const currentSortDir = ref('asc')

  function setSortDir(s: string) {
    //if s == current sort, reverse
    if (s === currentSort.value) {
      return (currentSortDir.value = currentSortDir.value === 'asc' ? 'desc' : 'asc')
    } else {
      currentSort.value = s
      return (currentSortDir.value = 'desc')
    }
  }

  // filtering tokens
  const filters = ref({
    name: {
      label: 'Location Name',
      placeholder: 'Binance',
      value: ''
    }
  })

  const handleFilterChange = (filterName: string, filterValue: boolean | number | string) => {
    if (filterName.includes('.')) {
      const group = filterName.split('.')[0]
      const name = filterName.split('.')[1]

      const filter = (filters.value as any)[group]
      if (filter) {
        const option = filter.options && filter.options[name]
        if (option) {
          option.value = filterValue
        }
      }
    } else {
      const filter = (filters.value as any)[filterName]
      if (filter) {
        filter.value = filterValue
      }
    }
  }

  const clearFilters = (defaultFilters: string) => (filters.value = JSON.parse(defaultFilters))

  const filteredLocations = computed(() => {
    return locationList.value.filter(location => {
      //filtering by token name
      if (filters.value.name.value.toLowerCase() && !location.name.toLowerCase().includes(filters.value.name.value.toLowerCase())) {
        return false
      }
      return true
    })
  })

  // sorting tokens
  const sortedLocations = computed(() => {
    return [...filteredLocations.value].sort((a, b) => {
      let modifier = 1
      if (currentSortDir.value === 'desc') modifier = -1
      if (currentSort.value === 'name') {
        return a[currentSort.value].localeCompare(b[currentSort.value]) * modifier
      }
    })
  })
</script>
