<template>
  <TokenDetailsHeader :tokenData="tokenData"></TokenDetailsHeader>
</template>

<script setup lang="ts">
  import { Ref } from 'vue'
  import { fetchRoutes, fetchTokens, fetchTokenDataCoingecko } from '~/tokenRoutes/api/tokenRoutesApi'
  import { Token } from '~/tokenRoutes/api/tokenRoutesDef'
  import { splitAndCapitalize } from '~/common/helpers/formatter'

  const props = defineProps<{
    token: string
  }>()

  const tokenData: Ref<any[]> = ref(await fetchTokenDataCoingecko(props.token.toLowerCase()))

  // const loadTokenInfo = async () => {
  //   const rawResults = await fetchTokens()
  //   console.log(Object.values(rawResults))

  //   tokenInfo.value = rawResults.supported_tokens
  //     .filter((t: any) => {
  //       t.name = props.token
  //     })
  //     .map((t: any) => {
  //       const tokenName = splitAndCapitalize(t.name)
  //       const tokenSymbol = t.symbol
  //       return { name: tokenName, symbol: tokenSymbol }
  //     })

  //   console.log(tokenInfo.value)
  // }

  // await loadTokenInfo()
</script>
