<template>
  <div>
    <Teleport to="#page-header-right-target">
      <Filters @change="handleFilterChange" @clearFilters="clearFilters" :filters="filters"></Filters>
    </Teleport>

    <div class="flex flex-col shadow rounded-lg ring-1 ring-black dark:ring-slate-700 ring-opacity-5">
      <div class="overflow-x-auto">
        <div class="inline-block min-w-full align-middle">
          <div class="overflow-hidden rounded-lg">
            <table class="min-w-full divide-y divide-gray-300 dark:divide-slate-600">
              <thead class="bg-gray-50 dark:bg-slate-900">
                <tr>
                  <th
                    scope="col"
                    @click="setSortDir('name')"
                    class="py-6 pl-4 sm:pl-6 text-left text-sm font-semibold text-gray-900 dark:text-gray-100 hover:cursor-pointer"
                    :class="[currentSort === 'name' ? 'bg-gray-200 dark:bg-slate-700/50 ' : 'hover:bg-gray-100 dark:hover:bg-slate-700/50']"
                  >
                    <div class="flex items-center justify-start">
                      {{ $t('tokens.name') }}
                      <component
                        v-if="currentSort === 'name'"
                        :is="currentSortDir === 'asc' ? ArrowSmUpIcon : ArrowSmDownIcon"
                        class="h-4 w-4 ml-1"
                      ></component>
                    </div>
                  </th>
                  <th
                    scope="col"
                    @click="setSortDir('symbol')"
                    class="py-2 pl-4 pr-3 text-center text-sm font-semibold text-gray-900 dark:text-gray-100 hover:cursor-pointer"
                    :class="[currentSort === 'symbol' ? 'bg-gray-200 dark:bg-slate-700/50 ' : 'hover:bg-gray-100 dark:hover:bg-slate-700/50']"
                  >
                    <div class="flex items-center justify-center">
                      {{ $t('tokens.symbol') }}
                      <component
                        v-if="currentSort === 'symbol'"
                        :is="currentSortDir === 'asc' ? ArrowSmUpIcon : ArrowSmDownIcon"
                        class="h-4 w-4 ml-1"
                      ></component>
                    </div>
                  </th>
                  <th
                    scope="col"
                    @click="setSortDir('total_posts')"
                    class="py-2 pl-4 pr-3 text-center text-sm font-semibold text-gray-900 dark:text-gray-100 hover:cursor-pointer"
                    :class="[currentSort === 'total_posts' ? 'bg-gray-200 dark:bg-slate-700/50 ' : 'hover:bg-gray-100 dark:hover:bg-slate-700/50']"
                  >
                    <div class="flex items-center justify-center">
                      {{ 'Located @' }}
                      <component
                        v-if="currentSort === 'total_posts'"
                        :is="currentSortDir === 'asc' ? ArrowSmUpIcon : ArrowSmDownIcon"
                        class="h-4 w-4 ml-1"
                      ></component>
                    </div>
                  </th>
                  <th
                    scope="col"
                    @click="setSortDir('total_comments')"
                    class="py-2 pl-4 pr-3 text-center text-sm font-semibold text-gray-900 dark:text-gray-100 hover:cursor-pointer"
                    :class="[currentSort === 'total_comments' ? 'bg-gray-200 dark:bg-slate-700/50 ' : 'hover:bg-gray-100 dark:hover:bg-slate-700/50']"
                  >
                    <div class="flex items-center justify-center">
                      {{ 'Websites' }}
                      <component
                        v-if="currentSort === 'total_comments'"
                        :is="currentSortDir === 'asc' ? ArrowSmUpIcon : ArrowSmDownIcon"
                        class="h-4 w-4 ml-1"
                      ></component>
                    </div>
                  </th>
                  <th
                    scope="col"
                    @click="setSortDir('total_payouts_hbd')"
                    class="py-2 pl-4 pr-3 text-center text-sm font-semibold text-gray-900 dark:text-gray-100 hover:cursor-pointer"
                    :class="[currentSort === 'total_payouts_hbd' ? 'bg-gray-200 dark:bg-slate-600/50 ' : 'hover:bg-gray-100 dark:hover:bg-slate-700/50']"
                  >
                    <div class="flex items-center justify-center">
                      {{ 'Price Range' }}
                      <component
                        v-if="currentSort === 'total_payouts_hbd'"
                        :is="currentSortDir === 'asc' ? ArrowSmUpIcon : ArrowSmDownIcon"
                        class="h-4 w-4 ml-1"
                      ></component>
                    </div>
                  </th>
                </tr>
              </thead>
              <tbody
                v-for="token in sortedTokens"
                class="border-b border-gray-200 dark:border-gray-700 divide-y divide-gray-200 dark:divide-slate-600 bg-white dark:bg-slate-800"
              >
                <tr>
                  <td scope="row" class="whitespace-nowrap py-2 pl-4 text-base sm:pl-6">
                    <div class="flex items-center justify-start">
                      <div class="flex items-center gap-2">
                        <img :src="token.image" class="h-8 w-8 flex-shrink-0 px-1 py-1" />
                        <router-link :to="`/routes/tokens/${token.name}`" class="font-medium text-gray-900 dark:text-gray-100">{{ token.name }}</router-link>
                      </div>
                    </div>
                  </td>
                  <td class="px-6 py-2 bg-slate-100 dark:bg-slate-700 whitespace-nowrap pl-4 pr-3 text-center text-sm text-gray-500 dark:text-gray-300">
                    {{ capitalizeAll(token.symbol) }}
                  </td>
                  <td class="px-6 py-2 bg-gray-50 dark:bg-slate-800 whitespace-nowrap pl-4 pr-3 text-center text-sm text-gray-600 dark:text-gray-300">
                    {{}}

                    <div class="relative flex flex-col items-center group">
                      <span class="inline-flex items-center rounded-full text-sm font-medium">
                        <InformationCircleIcon class="inline h-5 w-5" />
                      </span>

                      <div class="absolute w-96 max-w-lg top-0 flex-col items-center hidden mt-6 group-hover:flex">
                        <div class="w-3 h-3 -mb-2 rotate-45 bg-slate-800 dark:bg-slate-700"></div>
                        <span
                          class="relative z-10 p-2 text-sm leading-none text-white dark:text-gray-800 whitespace-no-wrap bg-slate-800 dark:bg-gray-50 shadow rounded-md"
                        >
                          <div>
                            {{ capitalizeAll(token.symbol) }}
                          </div>
                        </span>
                      </div>
                    </div>
                  </td>
                  <td class="px-6 py-2 text-sm text-gray-600 dark:text-gray-300 flex justify-center gap-1">
                    <template v-for="field in ['homepage', 'blockchain_site', 'official_forum_url']" :key="field">
                      <a
                        v-if="token[field]"
                        :href="token[field]"
                        target="_blank"
                        class="text-center sm:text-sm text-xs font-medium text-gray-700 dark:text-gray-300"
                      >
                        <span class="inline-flex items-center rounded-full py-0.5 px-1 text-sm font-medium">
                          <HomeIcon v-if="field === 'homepage'" class="inline h-5 w-5" />
                          <GlobeAltIcon v-if="field === 'blockchain_site'" class="inline h-5 w-5" />
                          <ChatAlt2Icon v-if="field === 'official_forum_url'" class="inline h-5 w-5" />
                        </span>
                      </a>
                    </template>
                  </td>
                  <td
                    v-if="token.high_24h > 10000 || token.low_24h > 10000"
                    class="px-6 py-2 bg-gray-50 dark:bg-slate-800 whitespace-nowrap pl-4 pr-3 text-center text-sm text-gray-600 dark:text-gray-300"
                  >
                    ${{ formatNumber(token.high_24h, '0,0[.]') }} - ${{ formatNumber(token.low_24h, '0,0[.]') }}
                  </td>
                  <td
                    v-if="(token.high_24h >= 10 && token.high_24h < 10000) || (token.low_24h >= 10 && token.low_24h < 10000)"
                    class="px-6 py-2 bg-gray-50 dark:bg-slate-800 whitespace-nowrap pl-4 pr-3 text-center text-sm text-gray-600 dark:text-gray-300"
                  >
                    ${{ formatNumber(token.high_24h, '0,0[.]00') }} - ${{ formatNumber(token.low_24h, '0,00[.]00') }}
                  </td>
                  <td
                    v-if="(token.high_24h > 1 && token.high_24h < 10) || (token.low_24h > 10 && token.low_24h < 10)"
                    class="px-6 py-2 bg-gray-50 dark:bg-slate-800 whitespace-nowrap pl-4 pr-3 text-center text-sm text-gray-600 dark:text-gray-300"
                  >
                    ${{ formatNumber(token.high_24h, '0,0[.]0000') }} - ${{ formatNumber(token.low_24h, '0,0000[.]0000') }}
                  </td>
                  <td
                    v-if="token.high_24h < 1 && token.low_24h < 1"
                    class="px-6 py-2 bg-gray-50 dark:bg-slate-800 whitespace-nowrap pl-4 pr-3 text-center text-sm text-gray-600 dark:text-gray-300"
                  >
                    ${{ formatNumber(token.high_24h, '0,0[.]00000') }} - ${{ formatNumber(token.low_24h, '0,0[.]00000') }}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
  import { ChevronDownIcon, InformationCircleIcon, HomeIcon, GlobeAltIcon } from '@heroicons/vue/solid'
  import { ChatAlt2Icon } from '@heroicons/vue/outline'
  import { ArrowSmUpIcon, ArrowSmDownIcon } from '@heroicons/vue/outline'
  import { fetchRoutes, fetchTokens, fetchTokenPrices, fetchTokensCoingecko, fetchTokenDataCoingecko } from '~/tokenRoutes/api/tokenRoutesApi'
  import { splitAndCapitalize, formatNumber, capitalizeAll } from '~/common/helpers/formatter'
  import { Ref } from 'vue'

  const route = useRoute()

  //const tokenList: Ref<any[]> = ref([])

  //Creating the array to receive the data from Coingecko API
  const tokensCoingecko: Ref<any[]> = ref([])

  //Creating the method to receive the data from Coingecko API
  const refreshCoingecko = async () => {
    var data = []
    var myToken = []
    const fetched = await fetchTokensCoingecko('usd', 'hive,bitcoin,ethereum,hive_dollar,cardano,monero')
    //adding links to the data we're receiving
    for (let token of fetched) {
      myToken = await fetchTokenDataCoingecko(token.id)
      token.homepage = myToken.links.homepage[0]
      token.blockchain_site = myToken.links.blockchain_site[0]
      token.official_forum_url = myToken.links.official_forum_url[0]
      console.log(token)
      data.push(token)
    }
    tokensCoingecko.value = tokensCoingecko.value.concat(data)
  }

  /*const refreshTokens = async () => {
    const rawResults = await fetchTokens()
    console.log(Object.values(rawResults))

    tokenList.value = rawResults.supported_tokens.map((t: any) => {
        const tokenName = splitAndCapitalize(Object.values(t)[0])
        const tokenSymbol = Object.values(t)[1]
      return { name: tokenName, symbol: tokenSymbol }
    })
  }*/

  await refreshCoingecko()

  //refreshTokens()

  // sorting
  const currentSort = ref('symbol')
  const currentSortDir = ref('asc')

  function setSortDir(s: string) {
    //if s == current sort, reverse
    if (s === currentSort.value) {
      return (currentSortDir.value = currentSortDir.value === 'asc' ? 'desc' : 'asc')
    } else {
      currentSort.value = s
      return (currentSortDir.value = 'desc')
    }
  }

  // filtering tokens
  const filters = ref({
    name: {
      label: 'Token Name',
      placeholder: 'Hive',
      value: ''
    },
    symbol: {
      label: 'Token Symbol',
      placeholder: 'BTC',
      value: ''
    }
  })

  const handleFilterChange = (filterName: string, filterValue: boolean | number | string) => {
    if (filterName.includes('.')) {
      const group = filterName.split('.')[0]
      const name = filterName.split('.')[1]

      const filter = (filters.value as any)[group]
      if (filter) {
        const option = filter.options && filter.options[name]
        if (option) {
          option.value = filterValue
        }
      }
    } else {
      const filter = (filters.value as any)[filterName]
      if (filter) {
        filter.value = filterValue
      }
    }
  }

  const clearFilters = (defaultFilters: string) => (filters.value = JSON.parse(defaultFilters))

  const filteredRoutes = computed(() => {
    return tokensCoingecko.value.filter(token => {
      //filtering by token name
      if (filters.value.name.value.toLowerCase() && !token.name.toLowerCase().includes(filters.value.name.value.toLowerCase())) {
        return false
      }
      //filtering by token symbol
      if (filters.value.symbol.value && !token.symbol.includes(filters.value.symbol.value)) {
        return false
      }
      return true
    })
  })

  // sorting tokens
  const sortedTokens = computed(() => {
    return [...filteredRoutes.value].sort((a, b) => {
      let modifier = 1
      if (currentSortDir.value === 'desc') modifier = -1
      if (currentSort.value === 'name') {
        return a[currentSort.value].localeCompare(b[currentSort.value]) * modifier
      }
      if (currentSort.value === 'symbol') {
        return a[currentSort.value].localeCompare(b[currentSort.value]) * modifier
      }
    })
  })

  /*const loadTokenNames = async () => {
    var ids = ''
    const fetched = await fetchTokensCoingecko('usd', 'hive,bitcoin,ethereum,hive_dollar,cardano,monero')
    for (let token of fetched){
      ids = ids + token.id + ','
      console.log(ids)
    }
    }

  loadTokenNames()*/
</script>
