<template>
  <Dialog as="div" class="relative z-10" @close="emit('close')">
    <TransitionChild
      as="template"
      enter="ease-out duration-300"
      enter-from="opacity-0"
      enter-to="opacity-100"
      leave="ease-in duration-200"
      leave-from="opacity-100"
      leave-to="opacity-0"
    >
      <div class="fixed inset-0 bg-gray-500 dark:bg-slate-900 bg-opacity-75 transition-opacity" />
    </TransitionChild>

    <div class="fixed z-10 inset-0 overflow-y-auto">
      <div class="flex items-end sm:items-center justify-center min-h-full p-4 text-center sm:p-0">
        <TransitionChild
          as="template"
          enter="ease-out duration-300"
          enter-from="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
          enter-to="opacity-100 translate-y-0 sm:scale-100"
          leave="ease-in duration-200"
          leave-from="opacity-100 translate-y-0 sm:scale-100"
          leave-to="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
        >
          <DialogPanel
            class="relative bg-white dark:bg-slate-800 rounded-lg px-4 pt-5 pb-4 text-left overflow-visible shadow-xl transform transition-all min-w-min sm:my-8 sm:max-w-lg lg:max-w-2xl sm:w-full sm:p-6"
          >
            <div class="text-left border-b border-gray-200 dark:border-slate-600">
              <DialogTitle as="h3" class="text-2xl leading-6 font-medium text-gray-900 dark:text-gray-100 mb-3"> {{ $t('settings.settings') }} </DialogTitle>
            </div>

            <div class="text-left mt-4 flex gap-4 items-center">
              <div>
                <div class="flex items-center justify-start gap-4">
                  <h3 class="text-md font-medium text-gray-900 dark:text-gray-100">{{ $t('settings.hive-node') }}</h3>
                  <SwitchGroup as="div" class="flex items-center justify-between gap-4">
                    <Switch
                      v-model="autoApiNode"
                      :class="[
                        autoApiNode ? 'bg-emerald-600 dark:bg-emerald-400' : 'bg-gray-200 dark:bg-slate-600/50',
                        'relative inline-flex flex-shrink-0 h-3 w-6 border-2 border-transparent rounded-full cursor-pointer transition-colors ease-in-out duration-200'
                      ]"
                    >
                      <span
                        aria-hidden="true"
                        :class="[
                          autoApiNode ? 'translate-x-3' : 'translate-x-0',
                          'pointer-events-none relative inline-block h-2 w-2 rounded-full bg-white dark:bg-slate-800 shadow transform ring-0 transition ease-in-out duration-200'
                        ]"
                      />
                    </Switch>
                  </SwitchGroup>
                </div>
                <p class="text-sm text-gray-500 dark:text-gray-300">{{ $t('settings.hive-node-text') }}</p>
                <div class="mt-2 flex justify-start items-center gap-3 text-xs text-gray-900 dark:text-gray-200">
                  <div class="flex items-center justify-center gap-2">
                    <p class="text-xs text-gray-500 dark:text-gray-300">
                      Hive node selection:
                      <span class="text-emerald-600 dark:text-emerald-400 font-semibold">{{ !autoApiNode ? 'Manual' : 'Auto (best node)' }}</span>
                    </p>
                  </div>
                </div>
              </div>
              <div class="mt-4">
                <OptionsDropdown v-if="!autoApiNode" :current="node" :elements="nodes" @change="setApiNode" class="w-[200px]"></OptionsDropdown>
                <div v-else class="grow m-0 px-3 py-2 rounded-lg text-sm border border-gray-400 text-gray-400 w-[200px]">
                  <span v-if="bestNode">{{ bestNode?.name }}</span>
                  <span v-else>Loading ...</span>
                </div>
                <p class="mt-1 text-center text-xs text-gray-500 dark:text-gray-300">
                  {{ $t('settings.hive-node-small') }}
                  <a href="https://beacon.peakd.com" target="_blank" class="text-emerald-600 dark:text-emerald-400 truncate">beacon.peakd.com</a>
                </p>
              </div>
            </div>

            <div class="text-left mt-8 flex gap-4 items-center">
              <div class="grow">
                <div class="flex items-center justify-start gap-4">
                  <h3 class="text-md font-medium text-gray-900 dark:text-gray-100">{{ $t('settings.he-node') }}</h3>
                  <SwitchGroup as="div" class="flex items-center justify-between gap-4">
                    <Switch
                      v-model="autoHeApiNode"
                      :class="[
                        autoHeApiNode ? 'bg-emerald-600 dark:bg-emerald-400' : 'bg-gray-200 dark:bg-slate-600/50',
                        'relative inline-flex flex-shrink-0 h-3 w-6 border-2 border-transparent rounded-full cursor-pointer transition-colors ease-in-out duration-200'
                      ]"
                    >
                      <span
                        aria-hidden="true"
                        :class="[
                          autoHeApiNode ? 'translate-x-3' : 'translate-x-0',
                          'pointer-events-none relative inline-block h-2 w-2 rounded-full bg-white dark:bg-slate-800 shadow transform ring-0 transition ease-in-out duration-200'
                        ]"
                      />
                    </Switch>
                  </SwitchGroup>
                </div>
                <p class="text-sm text-gray-500 dark:text-gray-300">{{ $t('settings.he-text') }}</p>
                <div class="mt-2 flex justify-start items-center gap-3 text-xs text-gray-900 dark:text-gray-200">
                  <div class="flex items-center justify-center gap-2">
                    <p class="text-xs text-gray-500 dark:text-gray-300">
                      Hive Engine node selection:
                      <span class="text-emerald-600 dark:text-emerald-400 font-semibold">{{ !autoHeApiNode ? 'Manual' : 'Auto (best node)' }}</span>
                    </p>
                  </div>
                </div>
              </div>
              <div class="mt-4">
                <OptionsDropdown v-if="!autoHeApiNode" :current="heNode" :elements="heNodes" @change="setHiveEngineApiNode" class="w-[200px]"></OptionsDropdown>
                <div v-else class="grow m-0 px-3 py-2 rounded-lg text-sm border border-gray-400 text-gray-400 w-[200px] truncate">
                  <span v-if="bestHeNode">{{ bestHeNode?.name }}</span
                  ><span v-else>Loading ...</span>
                </div>
                <p class="mt-1 text-center text-xs text-gray-500 dark:text-gray-300">
                  {{ $t('settings.hive-node-small') }}
                  <a href="https://beacon.peakd.com" target="_blank" class="text-emerald-600 dark:text-emerald-400">beacon.peakd.com</a>
                </p>
              </div>
            </div>

            <div class="text-left mt-8 flex gap-4 items-center">
              <div class="grow">
                <h3 class="text-md font-medium text-gray-900 dark:text-gray-100">{{ $t('settings.language') }}</h3>
                <p class="text-sm text-gray-500 dark:text-gray-300">{{ $t('settings.language-text') }}</p>
              </div>
              <OptionsDropdown :current="language" :elements="languages" @change="setLanguage" class="w-[200px]"></OptionsDropdown>
            </div>

            <div v-if="isPeakVaultEnabled" class="text-left mt-8 flex items-center">
              <div class="grow">
                <h3 class="text-md font-medium text-gray-900 dark:text-gray-100">{{ t('settings.preferred-wallet') }}</h3>
                <p class="text-sm text-gray-500 dark:text-gray-300">
                  {{ $t('settings.set-preferred-wallet') }}:
                  <span class="text-emerald-600 dark:text-emerald-400 font-semibold capitalize">{{ defaultWallet?.name }}</span>
                </p>
              </div>
              <RadioGroup :options="wallets" :current="defaultWallet?.value" @change="changeWallet"></RadioGroup>
            </div>

            <div class="text-left mt-8 flex items-center">
              <div class="grow">
                <h3 class="text-md font-medium text-gray-900 dark:text-gray-100">{{ $t('settings.theme') }}</h3>
                <p class="text-sm text-gray-500 dark:text-gray-300">{{ $t('settings.theme-text') }}</p>
              </div>
              <Switch
                v-model="darkMode"
                :class="[
                  darkMode ? 'bg-emerald-600 dark:bg-emerald-400' : 'bg-gray-200 dark:bg-slate-600/50',
                  'relative inline-flex flex-shrink-0 h-6 w-11 border-2 border-transparent rounded-full cursor-pointer transition-colors ease-in-out duration-200'
                ]"
              >
                <span class="sr-only">{{ $t('settings.dark-mode') }}</span>
                <span
                  :class="[
                    darkMode ? 'translate-x-5' : 'translate-x-0',
                    'pointer-events-none relative inline-block h-5 w-5 rounded-full bg-white dark:bg-slate-800 shadow transform ring-0 transition ease-in-out duration-200'
                  ]"
                >
                  <span
                    class="absolute inset-0 h-full w-full flex items-center justify-center transition-opacity"
                    :class="darkMode ? 'opacity-0 ease-out duration-100' : 'opacity-100 ease-in duration-200'"
                    aria-hidden="true"
                  >
                    <SunIcon class="h-4 w-4 dark:text-gray-300"></SunIcon>
                  </span>
                  <span
                    class="absolute inset-0 h-full w-full flex items-center justify-center transition-opacity"
                    :class="darkMode ? 'opacity-100 ease-in duration-200' : 'opacity-0 ease-out duration-100'"
                    aria-hidden="true"
                  >
                    <MoonIcon class="h-4 w-4 dark:text-gray-300"></MoonIcon>
                  </span>
                </span>
              </Switch>
            </div>

            <div class="text-left mt-8 flex items-center">
              <div class="grow">
                <h3 class="text-md font-medium text-gray-900 dark:text-gray-100">{{ $t('settings.transactions') }}</h3>
                <p class="text-sm text-gray-500 dark:text-gray-300">
                  {{ $t('settings.transactions-text') }}:
                  <span class="text-emerald-600 dark:text-emerald-400 font-semibold capitalize">{{ transactionsRendering ? 'extended' : 'summary' }}</span>
                </p>
              </div>
              <SwitchGroup as="div" class="flex items-center justify-between gap-4">
                <Switch
                  v-model="transactionsRendering"
                  :class="[
                    transactionsRendering ? 'bg-emerald-600 dark:bg-emerald-400' : 'bg-gray-200 dark:bg-slate-600/50',
                    'relative inline-flex flex-shrink-0 h-6 w-11 border-2 border-transparent rounded-full cursor-pointer transition-colors ease-in-out duration-200'
                  ]"
                >
                  <span
                    aria-hidden="true"
                    :class="[
                      transactionsRendering ? 'translate-x-5' : 'translate-x-0',
                      'pointer-events-none relative inline-block h-5 w-5 rounded-full bg-white dark:bg-slate-800 shadow transform ring-0 transition ease-in-out duration-200'
                    ]"
                  />
                </Switch>
              </SwitchGroup>
            </div>

            <div class="text-left mt-8 flex items-center">
              <div class="grow">
                <h3 class="text-md font-medium text-gray-900 dark:text-gray-100">{{ $t('settings.json') }}</h3>
                <p class="text-sm text-gray-500 dark:text-gray-300">
                  {{ $t('settings.json-text') }}:
                  <span class="text-emerald-600 dark:text-emerald-400 font-semibold capitalize">{{ jsonRendering ? 'formatted' : 'compact' }}</span>
                </p>
              </div>
              <SwitchGroup as="div" class="flex items-center justify-between gap-4">
                <Switch
                  v-model="jsonRendering"
                  :class="[
                    jsonRendering ? 'bg-emerald-600 dark:bg-emerald-400' : 'bg-gray-200 dark:bg-slate-600/50',
                    'relative inline-flex flex-shrink-0 h-6 w-11 border-2 border-transparent rounded-full cursor-pointer transition-colors ease-in-out duration-200'
                  ]"
                >
                  <span
                    aria-hidden="true"
                    :class="[
                      jsonRendering ? 'translate-x-5' : 'translate-x-0',
                      'pointer-events-none relative inline-block h-5 w-5 rounded-full bg-white dark:bg-slate-800 shadow transform ring-0 transition ease-in-out duration-200'
                    ]"
                  />
                </Switch>
              </SwitchGroup>
            </div>

            <div class="text-left mt-8 flex items-center">
              <div class="grow">
                <h3 class="text-md font-medium text-gray-900 dark:text-gray-100">{{ t('settings.timestamp') }}</h3>
                <p class="text-sm text-gray-500 dark:text-gray-300">
                  {{ $t('settings.timestamp-text') }}:
                  <span class="text-emerald-600 dark:text-emerald-400 font-semibold capitalize">{{ timestampRendering?.name }}</span>
                </p>
              </div>
              <RadioGroup :options="timestamps" :current="timestampRendering?.value" @change="changeTimestamp"></RadioGroup>
            </div>

            <div class="mt-8 sm:flex sm:flex-row-reverse">
              <button
                type="button"
                class="w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-emerald-600 dark:bg-emerald-400 text-base font-medium text-white dark:text-slate-800 hover:bg-emerald-700 dark:hover:bg-emerald-200 focus:outline-none focus:ring-2 focus:ring-emerald-500 dark:focus:ring-emerald-100 sm:ml-3 sm:w-auto sm:text-sm"
                @click="saveSettings()"
              >
                {{ $t('settings.save') }}
              </button>
              <button
                type="button"
                class="mt-3 w-full inline-flex justify-center rounded-md border border-gray-300 dark:border-slate-500 shadow-sm px-4 py-2 bg-white dark:bg-slate-800 text-base font-medium text-gray-700 dark:text-gray-200 hover:bg-gray-50 dark:hover:bg-slate-700 focus:outline-none focus:ring-2 focus:ring-emerald-500 dark:focus:ring-emerald-100 sm:mt-0 sm:w-auto sm:text-sm"
                @click="emit('close')"
                ref="cancelButtonRef"
              >
                {{ $t('settings.close') }}
              </button>
            </div>
          </DialogPanel>
        </TransitionChild>
      </div>
    </div>
  </Dialog>
</template>

<script setup lang="ts">
  import { SunIcon, MoonIcon } from '@heroicons/vue/outline'
  import { getApiNodes } from '~/common/api/hiveApi'
  import { getHiveEngineApiNodes } from '~/explorer/api/hiveEngineApi'
  import { setBestNode } from '~/common/helpers/hiveFunctions'
  import { useSettingsStore } from '~/stores/settings'
  import { useAccountStore } from '~/stores/account'
  import keychainIcon from '~/assets/images/icons/keychain.svg'
  import peakvaultIcon from '~/assets/images/icons/peak_vault.svg'

  const isPeakVaultEnabled = import.meta.env.VITE_APP_PEAKVAULT_ENABLED === 'true'

  const { t } = useI18n()
  const settingsStore = useSettingsStore()
  const accountStore = useAccountStore()

  // Hive API nodes
  const getNodeColor = (score: number) => {
    if (score === 100) return 'bg-green-400'
    if (score >= 90) return 'bg-yellow-400'
    if (score >= 80) return 'bg-orange-400'

    return 'bg-red-400'
  }

  const nodes = ref([{ name: 'api.hive.blog', value: 'https://api.hive.blog', color: getNodeColor(100) }])
  const node = ref(settingsStore.settings?.apiNode)
  const autoApiNode = ref(settingsStore.settings?.autoApiNode)
  const bestNode: any = ref(null)
  const userDefaultWallet = ref(accountStore.account.defaultWallet)

  getApiNodes()
    .then(result => {
      bestNode.value = setBestNode(node.value, result, false)
      nodes.value = result
        .filter((node: any) => node.features && node.features.includes('get_transaction'))
        .map((node: any) => ({
          name: node.name,
          value: node.endpoint,
          color: getNodeColor(node.score)
        }))
    })
    .catch(error => {
      console.error('Error loading API node list from Beacon: ', error)
    })

  const setApiNode = (selected: any) => {
    node.value = selected
  }

  // HE API nodes
  const heNodes = ref([{ name: 'engine.rishipantee.com', value: 'https://engine.rishipantee.com' }])
  const heNode = ref(settingsStore.settings?.heApiNode)
  const autoHeApiNode = ref(settingsStore.settings?.autoHeApiNode)
  const bestHeNode: any = ref(null)

  getHiveEngineApiNodes()
    .then(result => {
      bestHeNode.value = setBestNode(heNode.value, result, true)
      heNodes.value = result.map((node: any) => ({
        name: node.name,
        value: node.endpoint,
        color: getNodeColor(node.score)
      }))
    })
    .catch(error => {
      console.error('Error loading API node list from Beacon: ', error)
    })

  const setHiveEngineApiNode = (selected: any) => {
    heNode.value = selected
  }

  // Languages
  const languages = ref([
    { name: t('settings.english'), value: 'en' },
    { name: t('settings.german'), value: 'de' },
    { name: t('settings.italian'), value: 'it' },
    { name: t('settings.spanish'), value: 'es' }
  ])
  const language = ref(settingsStore.settings?.language)

  const setLanguage = (selected: any) => {
    language.value = selected || 'en'
  }

  // Wallet
  const wallets = ref([
    { name: 'HIVE Keychain', value: 'keychain', icon: keychainIcon },
    { name: 'Peak Vault', value: 'peakvault', icon: peakvaultIcon }
  ])

  const defaultWallet = ref(wallets.value.find((wallet: any) => wallet.value === userDefaultWallet.value) || wallets.value[0])

  const changeWallet = (wallet: any) => {
    defaultWallet.value = wallet
  }

  // Theme
  const darkMode = ref(settingsStore.settings?.darkMode)

  // Transactions formatting
  const transactionsRendering = ref(settingsStore.settings?.transactionsRendering)

  // JSON Formatting
  const jsonRendering = ref(settingsStore.settings?.jsonRendering)

  // Timestamp Formatting
  const timestamps = ref([
    { name: 'Relative', value: 'relative' },
    { name: 'UTC', value: 'utc' },
    { name: 'Local time', value: 'localTime' }
  ])
  const timestampRendering = ref(
    timestamps.value.find((timestamp: any) => timestamp.value === settingsStore.settings?.timestampRendering) || timestamps.value[0]
  )

  const changeTimestamp = (timestamp: any) => {
    timestampRendering.value = timestamp
  }

  const emit = defineEmits(['close'])

  const saveSettings = () => {
    settingsStore.saveSettings({
      apiNode: autoApiNode.value ? bestNode.value.endpoint : node.value,
      autoApiNode: autoApiNode.value,
      heApiNode: autoHeApiNode.value ? bestHeNode.value.endpoint : heNode.value,
      autoHeApiNode: autoHeApiNode.value,
      darkMode: darkMode.value,
      language: language.value,
      transactionsRendering: transactionsRendering.value,
      timestampRendering: timestampRendering.value.value,
      jsonRendering: jsonRendering.value
    })

    accountStore.setDefaultWallet(defaultWallet.value.value)

    emit('close')
  }
</script>
