<template>
  <Dialog as="div" class="relative z-10" @close="$emit('close')">
    <TransitionChild
      as="template"
      enter="ease-out duration-300"
      enter-from="opacity-0"
      enter-to="opacity-100"
      leave="ease-in duration-200"
      leave-from="opacity-100"
      leave-to="opacity-0"
    >
      <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity" />
    </TransitionChild>

    <div class="fixed inset-0 z-10 overflow-y-auto">
      <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">
        <TransitionChild
          as="template"
          enter="ease-out duration-300"
          enter-from="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
          enter-to="opacity-100 translate-y-0 sm:scale-100"
          leave="ease-in duration-200"
          leave-from="opacity-100 translate-y-0 sm:scale-100"
          leave-to="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
        >
          <DialogPanel
            class="relative transform overflow-hidden rounded-lg bg-white dark:bg-slate-800 px-4 pb-4 pt-5 text-left shadow-xl transition-all w-3/4 sm:my-8 sm:w-full sm:max-w-lg sm:p-6"
          >
            <div class="absolute right-0 top-0 hidden pr-4 pt-4 sm:block">
              <button
                type="button"
                class="rounded-md bg-transparent text-gray-900 dark:text-gray-100 hover:text-gray-600 dark:hover:text-gray-400 focus:outline-0 focus:ring-0"
                @click="$emit('close')"
              >
                <span class="sr-only">Close</span>
                <XIcon class="h-6 w-6" aria-hidden="true" />
              </button>
            </div>
            <div class="sm:flex sm:items-start">
              <div class="w-full mt-3 text-center sm:ml-4 sm:mt-0 sm:text-left">
                <DialogTitle as="h3" class="text-base font-semibold leading-6 text-gray-900 dark:text-gray-100">Accounts</DialogTitle>
                <div class="px-1 mt-5">
                  <ul role="list" class="divide-y divide-gray-200 dark:divide-slate-600">
                    <li v-for="(user, index) in users" :key="index" class="flex items-center justify-between gap-x-6 py-4 text-gray-500 dark:text-gray-300">
                      <div
                        @click="switchUser(user)"
                        :class="[user === accountStore.account.name ? 'cursor-default' : 'cursor-pointer']"
                        class="flex items-center min-w-0 gap-x-4"
                      >
                        <div class="inline-block rounded-full border border-gray-300 dark:border-slate-700 h-10 w-10">
                          <img class="rounded-full" :src="`https://images.hive.blog/u/${user}/avatar/'small'`" :alt="user" />
                        </div>
                        <!-- <AccountAvatar :account="user" :static="true" class="h-10 w-10"></AccountAvatar> -->
                        <div class="min-w-0 flex-auto">
                          <p class="text-sm font-semibold leading-6">{{ user }}</p>
                        </div>
                      </div>
                      <button v-if="user !== accountStore.account.name" @click="removeUser(user)"><XIcon class="h-5 w-5"></XIcon></button>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="mt-5 sm:mt-4 sm:flex sm:flex-row-reverse">
              <button
                @click="addUser"
                type="button"
                class="w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-emerald-600 dark:bg-emerald-400 text-base font-medium text-white dark:text-slate-800 hover:bg-emerald-700 dark:hover:bg-emerald-200 focus:outline-none focus:ring-2 focus:ring-emerald-500 dark:focus:ring-emerald-100 sm:ml-3 sm:w-auto sm:text-sm"
              >
                Add account
              </button>
            </div>
          </DialogPanel>
        </TransitionChild>
      </div>
    </div>
  </Dialog>
</template>

<script setup lang="ts">
  import { Ref } from 'vue'
  import { XIcon } from '@heroicons/vue/solid'
  import { useAccountStore } from '~/stores/account'

  let accountStore = useAccountStore()

  const emit = defineEmits(['close', 'openLoginModal'])

  const usersWallets: Ref<{ [key: string]: string }> = ref({})
  const users: Ref<string[]> = ref([])

  const storedWallets = localStorage.getItem('accountsWallet')
  if (storedWallets) {
    usersWallets.value = JSON.parse(storedWallets)
    users.value = Object.keys(usersWallets.value)
  }

  const switchUser = (username: string) => {
    accountStore.switchUser(username)
    emit('close')
  }

  const addUser = () => {
    emit('close')
    emit('openLoginModal')
  }

  const removeUser = (username: string) => {
    delete usersWallets.value[username]
    users.value = Object.keys(usersWallets.value)
    localStorage.setItem('accountsWallet', JSON.stringify(usersWallets.value))
  }
</script>
