<template>
  <TransitionRoot as="template" :show="show">
    <Dialog as="div" class="relative z-10" @close="$emit('close')">
      <TransitionChild
        as="template"
        enter="ease-out duration-300"
        enter-from="opacity-0"
        enter-to="opacity-100"
        leave="ease-in duration-200"
        leave-from="opacity-100"
        leave-to="opacity-0"
      >
        <div class="fixed inset-0 bg-gray-500 dark:bg-slate-900 bg-opacity-75 transition-opacity" />
      </TransitionChild>

      <div class="fixed z-10 inset-0">
        <div class="flex items-end sm:items-center justify-center min-h-full p-4 text-center sm:p-0">
          <TransitionChild
            as="template"
            enter="ease-out duration-300"
            enter-from="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
            enter-to="opacity-100 translate-y-0 sm:scale-100"
            leave="ease-in duration-200"
            leave-from="opacity-100 translate-y-0 sm:scale-100"
            leave-to="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
          >
            <DialogPanel
              class="overflow-x-auto relative bg-white dark:bg-slate-800 rounded-lg pb-4 text-left overshadow-xl transform transition-all sm:my-8 sm:max-w-2/3 sm:w-2/3"
            >
              <div class="flex flex-col place-content-center">
                <div class="max-h-[75vh] overflow-y-auto break-words">
                  <!-- Account Info -->
                  <div class="border-b border-gray-200 dark:border-slate-700 px-4 py-5 sm:px-8">
                    <h3 class="text-xl leading-6 font-medium text-gray-900 dark:text-gray-100">Block Data</h3>
                  </div>
                  <div>
                    <dl>
                      <div
                        v-for="(key, index) in keys"
                        :key="key"
                        class="border-b border-gray-200 dark:border-slate-700 px-4 py-2 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-8"
                        :class="index % 2 === 1 ? 'bg-white dark:bg-slate-800' : 'bg-gray-50 dark:bg-slate-700/30'"
                      >
                        <dt class="text-sm font-medium text-gray-500 dark:text-gray-300">{{ splitAndCapitalize(key) }}</dt>
                        <dd class="mt-1 text-sm text-gray-900 dark:text-gray-100 sm:mt-0 sm:col-span-2">{{ props.block[key] }}</dd>
                      </div>
                    </dl>
                  </div>
                </div>

                <!-- Close button -->
                <div class="px-4 pt-4 sm:flex sm:flex-row-reverse border-t border-gray-200 dark:border-slate-700">
                  <button
                    @click="$emit('close')"
                    type="button"
                    class="mt-3 w-full inline-flex justify-center rounded-md border border-gray-300 dark:border-gray-700 shadow-sm px-4 py-2 bg-white dark:bg-slate-700 text-base font-medium text-gray-700 dark:text-gray-300 hover:text-gray-500 dark:hover:text-gray-200 sm:mt-0 sm:w-auto sm:text-sm"
                  >
                    Close
                  </button>
                </div>
              </div>
            </DialogPanel>
          </TransitionChild>
        </div>
      </div>
    </Dialog>
  </TransitionRoot>
</template>

<script setup lang="ts">
  import { splitAndCapitalize } from '~/common/helpers/formatter'

  const props = defineProps<{
    block: any
    show: boolean
  }>()

  const keys = ['block_id', 'timestamp', 'previous', 'transaction_merkle_root', 'witness', 'witness_signature', 'signing_key', 'extensions', 'transaction_ids']
</script>
