<template>
  <TransitionRoot as="template" :show="show">
    <Dialog as="div" class="relative z-10" @close="$emit('close')">
      <TransitionChild
        as="template"
        enter="ease-out duration-300"
        enter-from="opacity-0"
        enter-to="opacity-100"
        leave="ease-in duration-200"
        leave-from="opacity-100"
        leave-to="opacity-0"
      >
        <div class="fixed inset-0 bg-gray-500 dark:bg-slate-900 bg-opacity-75 transition-opacity" />
      </TransitionChild>

      <div class="fixed z-10 inset-0">
        <div class="flex items-end sm:items-center justify-center min-h-full p-4 text-center sm:p-0">
          <TransitionChild
            as="template"
            enter="ease-out duration-300"
            enter-from="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
            enter-to="opacity-100 translate-y-0 sm:scale-100"
            leave="ease-in duration-200"
            leave-from="opacity-100 translate-y-0 sm:scale-100"
            leave-to="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
          >
            <DialogPanel
              class="overflow-x-auto max-h-[90vh] mx-8 relative bg-white dark:bg-slate-800 rounded-lg py-4 text-left overshadow-xl transform transition-all sm:my-8 w-full xl:max-w-2/3 xl:w-2/3"
            >
              <div class="flex flex-col place-content-center">
                <div v-if="Object.keys(witnessStats).length">
                  <div class="mx-auto text-gray-900 dark:text-gray-100 w-full">
                    <div class="flex justify-center items-center gap-2 mx-8">
                      <h1 class="text-xl truncate">@{{ witnessStats.witness }}</h1>
                      <a :href="`https://peakd.com/@${witnessStats.witness}`" target="_blank" class="text-emerald-600"
                        ><LinkIcon class="h-5 w-auto"></LinkIcon
                      ></a>
                    </div>
                  </div>
                  <div class="m-4 sm:m-6 flex flex-col md:flex-row items-center justify-center gap-6">
                    <div class="flex w-full md:w-1/2 p-4 border border-gray-300 dark:border-slate-700 rounded-lg shadow dark:shadow-slate-700">
                      <DoughnutChart :stats="votesDistribution" :title="`${$t('hivehubStats.votes-distribution')} (HP)`" />
                    </div>
                    <div class="flex w-full md:w-1/2 p-4 border border-gray-300 dark:border-slate-700 rounded-lg shadow dark:shadow-slate-700">
                      <DoughnutChart :stats="votesBreakdown" :title="`${$t('hivehubStats.votes-breakdown')} (HP)`" />
                    </div>
                  </div>
                  <div class="text-gray-900 dark:text-gray-100 text-xs text-right mx-8 -mt-2"><sup>*</sup> {{ $t('hivehubStats.real-time-disclaimer') }}</div>
                  <div class="mt-2 mb-2 text-base text-center text-gray-900 dark:text-gray-100">
                    <h1>{{ $t('hivehubStats.details') }}</h1>
                  </div>

                  <div class="break-words">
                    <div class="border-t border-gray-200 dark:border-slate-700">
                      <dl v-for="(value, key, index) in witnessStats" :key="index">
                        <div
                          v-if="!excludedFields.includes(key)"
                          class="border border-1 dark:bg-slate-700/30 border-b border-gray-200 dark:border-slate-700 px-4 py-2 grid grid-cols-2 md:grid-cols-3 sm:gap-4 sm:px-8"
                          :class="index % 2 === 1 ? 'bg-white dark:bg-slate-800' : 'bg-gray-50 dark:bg-slate-700/30'"
                        >
                          <dt class="flex items-center text-xs md:text-sm font-medium text-gray-500 dark:text-gray-300">
                            {{ $t(`hivehubStats.${key}`) || key }}
                          </dt>
                          <dd class="flex items-center mt-1 text-xs md:text-sm text-gray-900 dark:text-gray-100 sm:mt-0">
                            {{ key.includes('hbd') ? `${formatNumber(value, '0,0[.]000')} HBD` : formatNumber(value, '0,0[.]000') }}
                          </dd>
                        </div>
                      </dl>
                    </div>
                  </div>
                </div>

                <div v-else>
                  <div class="mx-auto text-gray-900 dark:text-gray-100 w-full">
                    <div class="flex justify-center items-center gap-2 mx-8">
                      <h1 class="text-xl truncate">@{{ witness }}</h1>
                      <a :href="`https://peakd.com/@${witness}`" target="_blank" class="text-emerald-600"><LinkIcon class="h-5 w-auto"></LinkIcon></a>
                    </div>
                  </div>
                  <div class="my-24 text-base text-center text-gray-900 dark:text-gray-100">
                    <h1 class="text-lg">No stats available</h1>
                  </div>
                </div>

                <!-- Close button -->
                <div class="px-4 pt-4 sm:flex sm:flex-row-reverse border-t border-gray-200 dark:border-slate-700">
                  <button
                    @click="$emit('close')"
                    type="button"
                    class="mt-3 w-full inline-flex justify-center rounded-md border border-gray-300 dark:border-gray-700 shadow-sm px-4 py-2 bg-white dark:bg-slate-700 text-base font-medium text-gray-700 dark:text-gray-300 hover:text-gray-500 dark:hover:text-gray-200 sm:mt-0 sm:w-auto sm:text-sm"
                  >
                    {{ $t('settings.close') }}
                  </button>
                </div>
              </div>
            </DialogPanel>
          </TransitionChild>
        </div>
      </div>
    </Dialog>
  </TransitionRoot>
</template>

<script setup lang="ts">
  import { formatNumber } from '~/common/helpers/formatter'
  import { LinkIcon } from '@heroicons/vue/solid'

  const props = defineProps<{
    show: boolean
    witness: string
    witnessStats: any
  }>()

  const excludedFields = ['witness', 'votes']

  const votesDistribution: any = computed(() => {
    if (props.show && props.witnessStats) {
      return {
        /* 'Under 1': +props.witnessStats['under_1_votes_hp'], count: +props.witnessStats['under_1_votes_num'] }, */
        '1 - 1000': { hp: +props.witnessStats['btw_1_1k_votes_hp'], count: +props.witnessStats['btw_1_1k_votes_num'] },
        '1k - 10k': { hp: +props.witnessStats['btw_1k_10k_votes_hp'], count: +props.witnessStats['btw_1k_10k_votes_num'] },
        '10k - 100k': { hp: +props.witnessStats['btw_10k_100k_votes_hp'], count: +props.witnessStats['btw_10k_100k_votes_num'] },
        '100k - 500k': { hp: +props.witnessStats['btw_100k_500k_votes_hp'], count: +props.witnessStats['btw_100k_500k_votes_num'] },
        '500k - 1m': { hp: +props.witnessStats['btw_500k_1m_votes_hp'], count: +props.witnessStats['btw_500k_1m_votes_num'] },
        'Over 1m': { hp: +props.witnessStats['over_1m_votes_hp'], count: +props.witnessStats['over_1m_votes_num'] }
      }
    }
    return
  })

  const votesBreakdown: any = computed(() => {
    let topTenTotalHp = 0
    if (props.show) {
      const voters: any = {}
      props.witnessStats.votes.slice(0, 10).forEach((account: any) => {
        voters[account.name] = +account.hive_power + +account.proxied_hive_power
        topTenTotalHp += voters[account.name]
      })
      voters.others = props.witnessStats.all_votes_hp - topTenTotalHp
      return voters
    }
    return
  })
</script>
