<template>
  <div class="inset-0 flex items-center justify-center">
    <button
      type="button"
      @click="toggleModal"
      class="w-full justify-self-end inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-emerald-600 dark:bg-emerald-400 text-base font-medium text-white dark:text-slate-800 sm:ml-3 sm:w-auto sm:text-sm hover:bg-emerald-400 dark:hover:bg-emerald-200 focus:outline-none focus:ring-2 focus:ring-emerald-500 dark:focus:ring-emerald-100"
    >
      Create New Poll
    </button>
  </div>
  <TransitionRoot appear :show="isOpen" as="template">
    <Dialog as="div" class="relative z-10">
      <TransitionChild
        as="template"
        enter="ease-out duration-300"
        enter-from="opacity-0"
        enter-to="opacity-100"
        leave="ease-in duration-200"
        leave-from="opacity-100"
        leave-to="opacity-0"
      >
        <div class="fixed inset-0 bg-gray-500 dark:bg-slate-900 bg-opacity-75 transition-opacity" />
      </TransitionChild>

      <div class="fixed z-10 inset-0 overflow-y-auto">
        <div class="flex items-end sm:items-center justify-center min-h-full p-4 text-center sm:p-0">
          <TransitionChild
            as="template"
            enter="duration-300 ease-out"
            enter-from="opacity-0 scale-95"
            enter-to="opacity-100 scale-100"
            leave="duration-200 ease-in"
            leave-from="opacity-100 scale-100"
            leave-to="opacity-0 scale-95"
          >
            <DialogPanel
              class="relative bg-white dark:bg-slate-800 rounded-lg px-4 pt-5 pb-4 text-left overflow-visible shadow-xl transform transition-all min-w-min sm:my-8 sm:max-w-lg lg:max-w-2xl sm:w-full sm:p-6"
            >
              <div class="flex justify-between items-center text-left border-b border-gray-300 dark:border-slate-500 pb-2 mb-12">
                <DialogTitle as="h1" class="text-2xl leading-6 font-medium text-gray-900 dark:text-gray-100"> {{ 'CREATE A NEW POLL' }} </DialogTitle>
                <button><XIcon @click="toggleModal" class="h-7 text-gray-400 hover:text-gray-600 dark:hover:text-gray-200"></XIcon></button>
              </div>
              <form class="relative z-0 w-full">
                <section class="group space-y-12 mb-12">
                  <div class="relative z-0 w-full group">
                    <input
                      v-model="pollQuestion"
                      type="text"
                      name="myQuestion"
                      id="floating_question"
                      class="block pt-5 pb-2 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b border-gray-300 appearance-none dark:text-white dark:border-slate-500 dark:focus:border-emerald-500 focus:outline-none focus:ring-0 focus:border-emerald-500 peer"
                      autocomplete="off"
                      required
                      @keyup="checkAllRequiredFields(), generateTitle(), generateBody()"
                    />
                    <label
                      for="floating_question"
                      class="text-sm peer-focus:font-medium absolute text-gray-800 dark:text-gray-200 bg-white dark:bg-slate-800 px-1 duration-300 transform -translate-y-6 top-3 z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-0 peer-focus:bg-transparent peer-focus:text-emerald-500 peer-focus:dark:text-emerald-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6 peer-focus:mt-3"
                      >Ask a Question</label
                    >
                  </div>

                  <div class="relative z-0 w-full">
                    <input
                      v-model="additionalInfo"
                      type="text"
                      name="additionalInfo"
                      id="additional_info"
                      class="block pt-5 pb-2 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b border-gray-300 appearance-none dark:text-white dark:border-slate-500 dark:focus:border-emerald-500 focus:outline-none focus:ring-0 focus:border-emerald-500 peer"
                      autocomplete="off"
                      @keyup="generateBody()"
                    />
                    <label
                      for="additional_info"
                      class="text-sm peer-focus:font-medium absolute text-gray-800 dark:text-gray-200 bg-white dark:bg-slate-800 px-1 duration-300 transform -translate-y-6 top-3 z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-0 peer-focus:bg-transparent peer-focus:text-emerald-500 peer-focus:dark:text-emerald-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6 peer-focus:mt-3"
                      >Additional info</label
                    >
                  </div>

                  <div class="relative z-0 w-full border-gray-300 dark:border-slate-500 rounded-lg border pb-3">
                    <div v-for="(option, index) in pollChoices" :key="index" class="group mt-4 ml-3 relative">
                      <div class="flex justify-start items-center gap-2">
                        <div>
                          <input
                            v-model="pollChoices[index]"
                            type="text"
                            name="choices"
                            :id="`floating_choices${index}`"
                            class="bg-gray-50 dark:bg-slate-800 w-[400px] border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-emerald-500 focus:border-emerald-500 block p-3.5 dark:border-slate-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-emerald-500 dark:focus:border-emerald-500 peer"
                            autocomplete="off"
                            @keyup="checkAllRequiredFields(), generateBody()"
                          />
                        </div>
                        <button v-if="pollChoices.length > 1 && pollChoices[index]">
                          <XIcon @click.prevent="deletePollChoice(index)" class="h-5 text-gray-400 hover:text-gray-600 dark:hover:text-gray-200"></XIcon>
                        </button>
                      </div>
                      <label
                        :for="`floating_choices${index}`"
                        class="ml-3 text-sm peer-focus:font-medium absolute text-gray-800 dark:text-gray-200 bg-white dark:bg-slate-800 px-1 duration-300 transform -translate-y-6 top-3 z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-0 peer-focus:bg-transparent peer-focus:text-emerald-500 peer-focus:dark:text-emerald-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6 peer-focus:mt-3"
                        >Choice {{ index + 1 }}</label
                      >
                    </div>
                  </div>

                  <div class="flex flex-wrap items-start justify-between gap-4">
                    <div class="relative z-0 w-[300px] group">
                      <input
                        v-model="parentPermlink"
                        type="text"
                        name="myParentPermlink"
                        id="floating_parent_permlink"
                        autocomplete="off"
                        required
                        @click="parentPermlink = ''"
                        @keyup="checkAllRequiredFields()"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-emerald-500 focus:border-emerald-500 block w-full p-3.5 bg-transparent dark:border-slate-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-emerald-500 dark:focus:border-emerald-500 peer"
                      />
                      <label
                        for="floating_parent_permlink"
                        class="ml-3 text-sm peer-focus:font-medium absolute text-gray-800 dark:text-gray-200 bg-white dark:bg-slate-800 px-1 duration-300 transform -translate-y-6 top-3 z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-0 peer-focus:bg-transparent peer-focus:text-emerald-500 peer-focus:dark:text-emerald-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6 peer-focus:mt-3"
                        >Main Tag / Community</label
                      >
                    </div>
                    <div v-if="accountSubscriptions.length">
                      <Menu as="div" class="relative inline-block text-left w-[300px] h-[50px]">
                        <div class="h-full">
                          <MenuButton
                            class="inline-flex w-full h-full items-center justify-between gap-x-1.5 rounded-md bg-transparent px-3 py-2 text-sm text-gray-900 dark:text-gray-300 border border-gray-300 dark:border-slate-500 shadow-sm hover:bg-gray-200 dark:hover:bg-slate-900"
                          >
                            Select your community
                            <ChevronDownIcon class="-mr-1 h-5 w-5 text-gray-400" aria-hidden="true" />
                          </MenuButton>
                        </div>

                        <transition
                          enter-active-class="transition ease-out duration-100"
                          enter-from-class="transform opacity-0 scale-95"
                          enter-to-class="transform opacity-100 scale-100"
                          leave-active-class="transition ease-in duration-75"
                          leave-from-class="transform opacity-100 scale-100"
                          leave-to-class="transform opacity-0 scale-95"
                        >
                          <MenuItems
                            class="absolute w-[300px] h-56 overflow-y-scroll overflow-x-hidden right-0 z-20 mt-2 origin-top-right rounded-md bg-gray-50 dark:bg-slate-900 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none"
                          >
                            <div v-for="community in accountSubscriptions" :index="community.value" class="py-1">
                              <MenuItem v-slot="{ active }">
                                <div
                                  @click="setParentPermlink(community.name)"
                                  :class="[
                                    active ? ' bg-emerald-600 dark:bg-emerald-400 text-gray-50 dark:text-slate-900' : 'text-gray-500 dark:text-gray-300',
                                    'flex justify-start items-center gap-2 px-4 py-2 text-sm cursor-default'
                                  ]"
                                >
                                  <UserGroupIcon class="h-4"></UserGroupIcon>
                                  <p>{{ community.name }}</p>
                                </div>
                              </MenuItem>
                            </div>
                          </MenuItems>
                        </transition>
                      </Menu>
                    </div>
                  </div>

                  <div>
                    <label class="text-sm text-gray-800 dark:text-gray-200 px-1">Interpretation</label>
                    <div class="flex flex-wrap items-center justify-between gap-4 mt-1">
                      <div>
                        <div class="relative z-10 w-[300px] group">
                          <OptionsDropdown
                            :elements="supportedInterpretations"
                            :current="pollInterpretation"
                            :read-only="true"
                            @change="changeInterpretation"
                          ></OptionsDropdown>

                          <p id="helper-text-explanation" class="mt-1 ml-1 text-xs text-gray-500 dark:text-gray-400">
                            Choose your preferred interpretation for the poll (Tokens - Number Of Votes)
                          </p>
                        </div>
                      </div>
                      <div>
                        <div v-if="pollInterpretation === 'tokens'" class="relative z-10 w-[300px] group">
                          <OptionsDropdown
                            :elements="supportedInterpretationTokens"
                            :current="tokenInterpretation"
                            :read-only="true"
                            @change="changeInterpretationToken"
                          ></OptionsDropdown>
                          <p id="helper-text-explanation" class="mt-1 ml-1 text-xs text-gray-500 dark:text-gray-400">
                            Choose your preferred interpretation token for the poll
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="relative z-0 w-full">
                    <input
                      v-model="imageUrl"
                      type="text"
                      name="additionalInfo"
                      id="additional_info"
                      class="block pt-5 pb-2 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b border-gray-300 appearance-none dark:text-white dark:border-slate-500 dark:focus:border-emerald-500 focus:outline-none focus:ring-0 focus:border-emerald-500 peer"
                      autocomplete="off"
                      @paste="handlePaste"
                    />
                    <label
                      for="additional_info"
                      class="text-sm peer-focus:font-medium absolute text-gray-800 dark:text-gray-200 bg-white dark:bg-slate-800 px-1 duration-300 transform -translate-y-6 top-3 z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-0 peer-focus:bg-transparent peer-focus:text-emerald-500 peer-focus:dark:text-emerald-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6 peer-focus:mt-3"
                      >Post cover (URL address)</label
                    >
                    <div v-if="imageUrl" class="mt-4">
                      <div v-if="isValidImageUrl && !imageLoadError" class="flex justify-center mt-4">
                        <img :src="imageUrl" @error="handleImageError" alt="Image preview" class="rounded-lg max-w-xs mx-auto" />
                      </div>
                      <div v-else class="text-center mt-4">
                        <span class="text-red-500">Image failed to load. Please check the URL.</span>
                      </div>
                    </div>
                  </div>

                  <!-- <div class="px-1 flex items-center justify-start gap-4 text-sm">
                    <label class="text-gray-800 dark:text-gray-200">Poll duration (in days)</label>
                    <input
                      v-model="pollDuration"
                      type="number"
                      name="duration"
                      id="duration"
                      min="1"
                      class="w-[100px] text-sm text-gray-900 bg-transparent border-0 border-b border-gray-300 appearance-none dark:text-white dark:border-slate-500 dark:focus:border-emerald-500 focus:outline-none focus:ring-0 focus:border-emerald-500"
                      autocomplete="off"
                      required
                      @keyup="checkAllRequiredFields()"
                    />
                  </div> -->
                </section>
                <section class="group my-16">
                  <div class="flex items-center justify-between border-b border-gray-300 dark:border-slate-500 pb-2 mb-12">
                    <span as="h2" class="text-2xl leading-6 font-normal text-gray-900 dark:text-gray-100">{{ 'Post Info' }}</span>
                    <button>
                      <ChevronDownIcon
                        v-if="!expandedInfo"
                        @click.prevent.stop="expandedInfo = true"
                        class="mr-5 h-6 text-gray-400 hover:text-gray-600 dark:hover:text-gray-200"
                      ></ChevronDownIcon>
                      <ChevronUpIcon
                        v-else
                        @click.prevent.stop="expandedInfo = false"
                        class="mr-5 h-6 text-gray-400 hover:text-gray-600 dark:hover:text-gray-200"
                      ></ChevronUpIcon>
                    </button>
                  </div>
                  <div v-if="expandedInfo" class="space-y-12">
                    <div class="relative z-0 w-full">
                      <input
                        v-model="pollTitle"
                        type="text"
                        name="myTitle"
                        id="floating_title"
                        class="block pt-5 pb-2 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b border-gray-300 appearance-none dark:text-white dark:border-slate-500 dark:focus:border-emerald-500 focus:outline-none focus:ring-0 focus:border-emerald-500 peer"
                        autocomplete="off"
                        required
                        @keyup="checkAllRequiredFields(), generateBody()"
                      />
                      <label
                        for="floating_title"
                        class="text-sm peer-focus:font-medium absolute text-gray-800 dark:text-gray-200 bg-white dark:bg-slate-800 px-1 duration-300 transform -translate-y-6 top-3 z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-0 peer-focus:bg-transparent peer-focus:text-emerald-500 peer-focus:dark:text-emerald-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6 peer-focus:mt-3"
                        >Post Title</label
                      >
                    </div>

                    <div class="relative z-0 w-full mb-5 group mt-5">
                      <textarea
                        v-model="pollBody"
                        type="textarea"
                        rows="5"
                        name="myPostBody"
                        id="floating_post_body"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-emerald-500 focus:border-emerald-500 block w-full p-3.5 bg-transparent dark:border-slate-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-emerald-500 dark:focus:border-emerald-500 peer"
                        autocomplete="off"
                        required
                        @keyup="checkAllRequiredFields()"
                      />
                      <label
                        for="floating_post_body"
                        class="ml-3 text-sm peer-focus:font-medium absolute text-gray-800 dark:text-gray-200 bg-white dark:bg-slate-800 px-1 duration-300 transform -translate-y-6 top-3 z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-0 peer-focus:bg-transparent peer-focus:text-emerald-500 peer-focus:dark:text-emerald-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6 peer-focus:mt-3"
                        >Post Body</label
                      >
                      <p class="text-xs mt-1 px-1 text-gray-500 dark:text-gray-400 text-justify">
                        <sup>*</sup
                        ><span
                          >Be aware that if you change 'Ask a Question', 'Additional info' or 'Choices' fields the body will be automatically updated with the
                          info of those fields</span
                        >
                      </p>
                    </div>

                    <div class="relative z-0 group w-full">
                      <input
                        v-model="tag"
                        type="text"
                        name="myTags"
                        id="floating_tags"
                        class="bg-gray-50 w-[414px] border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-emerald-500 focus:border-emerald-500 block p-3.5 bg-transparent dark:border-slate-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-emerald-500 dark:focus:border-emerald-500 peer"
                        required
                        autocomplete="off"
                        @keydown="addTag"
                      />
                      <label
                        for="floating_tags"
                        class="text-sm ml-3 peer-focus:font-medium absolute text-gray-800 dark:text-gray-200 bg-white dark:bg-slate-800 px-1 duration-300 transform -translate-y-6 top-3 z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-0 peer-focus:bg-transparent peer-focus:text-emerald-500 peer-focus:dark:text-emerald-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6 peer-focus:mt-3"
                        >Tags</label
                      >
                      <p id="helper-text-explanation" class="mt-2 ml-2 text-xs text-gray-500 dark:text-gray-400">
                        add tags by pressing SPACE or ENTER or comma (,)
                      </p>
                      <div v-if="pollTags.length" class="w-full flex flex-wrap gap-x-2 gap-y-3 mt-4 text-sm">
                        <div v-for="(tag, index) in pollTags" :key="index">
                          <span
                            @click="removeTag(tag)"
                            class="flex justify-center items-center gap-1 py-0.5 px-2 rounded-lg text-emerald-500 dark:text-emerald-500 border-2 border-emerald-500 bg-white dark:bg-gray-900 font-semibold hover:opacity-75 hover:cursor-pointer"
                            ><p>#{{ tag }}</p>
                            <XIcon class="w-4 h-4"></XIcon
                          ></span>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>

                <div class="w-full inline-flex items-center justify-end mt-10 lg:mt-0">
                  <button
                    type="button"
                    class="justify-self-end inline-flex justify-center rounded-md border border-transparent bg-emerald-100 px-4 py-2 text-sm font-medium text-emerald-900 hover:bg-emerald-200 focus:outline-none focus-visible:ring-2 focus-visible:ring-emerald-500 focus-visible:ring-offset-2"
                    @click="toggleModal"
                  >
                    Cancel
                  </button>
                  <button
                    type="button"
                    class="w-full justify-self-end inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-emerald-600 dark:bg-emerald-400 text-base font-medium text-white dark:text-slate-800 sm:ml-3 sm:w-auto sm:text-sm"
                    @click="broadcastPoll"
                    :class="[
                      !allRequiredFields
                        ? 'bg-gray-400 dark:bg-gray-500 cursor-not-allowed'
                        : 'hover:bg-emerald-700 dark:hover:bg-emerald-200 focus:outline-none focus:ring-2 focus:ring-emerald-500 dark:focus:ring-emerald-100'
                    ]"
                  >
                    Publish Poll
                  </button>
                </div>
              </form>
            </DialogPanel>
          </TransitionChild>
        </div>
      </div>
    </Dialog>
  </TransitionRoot>
</template>

<script setup lang="ts">
  import { Ref } from 'vue'
  import { XIcon, ChevronDownIcon, ChevronUpIcon } from '@heroicons/vue/outline'
  import { useAccountStore } from '~/stores/account'
  import { reqPost, getAccountSubscriptions } from '~/common/api/hiveApi'
  import OptionsDropdown from '~/common/components/OptionsDropdown.vue'
  import { UserGroupIcon } from '@heroicons/vue/solid'

  type Community = { name: string; value: string }

  const accountStore = useAccountStore()

  const supportedInterpretations = ref([
    { name: 'Number Of Votes', value: 'number_of_votes' }
    /*{ name: 'Tokens', value: 'tokens' }*/
  ])
  const supportedInterpretationTokens = ref([{ name: 'Hive - Hive Power (HP)', value: 'HIVE:HP' }])
  const pollInterpretation = ref(supportedInterpretations.value[0].value)
  const tokenInterpretation = ref(supportedInterpretationTokens.value[0].value)
  const tag: Ref<string> = ref('')
  const isOpen = ref(false)
  const allRequiredFields = ref(false)
  const pollTitle = ref('')
  const additionalInfo = ref('')
  const pollBody = ref('')
  const accountSubscriptions: Ref<[] | Community[]> = ref([])
  const parentPermlink = ref('')
  const pollQuestion = ref('')
  const pollChoices = ref([''])
  const pollTags: Ref<string[] | []> = ref([])
  const imageUrl = ref('')
  const isValidImageUrl = ref(false)
  const imageLoadError = ref(false)
  const expandedInfo = ref(false)

  const votingHint =
    '\n\n*Voting this poll requires an HIVE account and an interface that supports voting.\nIn case you’re not in one of these, you can go here.'

  const fetchAccountSubscriptions = async () => {
    if (accountStore.account.name) {
      const subscriptions = await getAccountSubscriptions(accountStore.account.name)
      return subscriptions
        .map((subscription: string[]) => {
          return { name: subscription[1], value: subscription[0] }
        })
        .sort((a: any, b: any) => a.name.localeCompare(b.name))
    }
  }

  const toggleModal = () => {
    isOpen.value = !isOpen.value
  }

  // check and handle different input fields
  const changeInterpretation = (selected: any) => {
    pollInterpretation.value = selected
  }

  const changeInterpretationToken = (selected: any) => {
    tokenInterpretation.value = selected
  }

  const checkPollChoices = () => {
    return pollChoices.value.filter((option: string) => option)
  }

  const checkChoicesInputs = () => {
    const activeChoices = checkPollChoices()

    if (activeChoices.length === pollChoices.value.length) {
      pollChoices.value.push('')
    } else {
      activeChoices.push('')
      pollChoices.value = activeChoices
    }
  }

  const deletePollChoice = (index: number) => {
    pollChoices.value.splice(index, 1)
    generateBody()
  }

  const checkAllRequiredFields = () => {
    allRequiredFields.value =
      pollQuestion.value && pollInterpretation.value && checkPollChoices().length > 1 && pollTitle.value && pollBody.value && parentPermlink.value
        ? true
        : false

    checkChoicesInputs()
  }

  const setParentPermlink = (communityName: string) => {
    parentPermlink.value = communityName
    checkAllRequiredFields()
  }

  const checkParentPermlink = () => {
    const parentPermLowercase = parentPermlink.value.toLowerCase()
    const community = accountSubscriptions.value.filter((community: Community) => community.name.toLowerCase() === parentPermLowercase)
    if (community.length) {
      return community[0].value
    }
    return parentPermlink.value
  }

  const addTag = (event: KeyboardEvent) => {
    tag.value = tag.value.replace(/[^a-zA-Z0-9-]/g, '')
    if ((event.key === ',' || event.key === 'Enter' || event.key === ' ') && tag.value) {
      event.preventDefault()
      if (!pollTags.value.includes(tag.value)) {
        pollTags.value.push(tag.value.toLowerCase())
      }
      tag.value = ''
    }
  }

  const removeTag = (selectedTag: string) => {
    pollTags.value = pollTags.value.filter(tag => tag !== selectedTag)
  }

  // broadcast poll/post
  const broadcastPoll = async () => {
    if (!accountStore.account.authenticated) {
      alert('You should log in first')
      return
    }

    if (!allRequiredFields.value) {
      return
    }

    const permlink = generatePermlink()
    const choices = checkPollChoices()
    const parentPerm = checkParentPermlink()
    const body = pollBody.value + votingHint
    const account = accountStore.account.name

    const poll_metadata = {
      content_type: 'poll',
      version: 0.1,
      question: pollQuestion.value,
      choices: choices,
      preferred_interpretation: pollInterpretation.value,
      tags: pollTags.value
    }

    if (imageUrl.value) {
      poll_metadata.image = imageUrl.value
    }

    try {
      const result = await reqPost(account, pollTitle.value, body, parentPerm, '', poll_metadata, permlink)
      if (isOpen.value) {
        toggleModal()
      }
      return result
    } catch (error) {
      console.log(error)
      return error
    }
  }

  // autogeneration functions
  const generateTitle = () => {
    pollTitle.value = pollQuestion.value
  }

  const generateBody = () => {
    const choicesString = pollChoices.value
      .filter(item => item)
      .map(item => `- ${item}`)
      .join('\n')

    pollBody.value = `${pollQuestion.value}\n\n${additionalInfo.value ? `${additionalInfo.value}\n\n` : ''}${choicesString}`
  }

  const generatePermlink = () => {
    if (!pollQuestion.value) {
      return ''
    } else {
      return `${pollQuestion.value.toLowerCase().replace(/[^a-zA-Z0-9]/g, '-')}${Date.now()}`
    }
  }

  // handle cover image
  const checkIfImageUrl = (url: string) => /\.(jpg|jpeg|png|gif|bmp|svg)$/i.test(url)

  const debounce = (func: Function, wait: number) => {
    let timeout: any
    return (...args: any[]) => {
      clearTimeout(timeout)
      timeout = setTimeout(() => func(...args), wait)
    }
  }

  const validateImageUrl = debounce(() => {
    isValidImageUrl.value = checkIfImageUrl(imageUrl.value)
    if (isValidImageUrl.value) {
      imageLoadError.value = false
    }
  }, 500)

  const handlePaste = (event: any) => {
    imageUrl.value = event.clipboardData.getData('text')
    validateImageUrl()
  }

  const handleImageError = () => {
    imageLoadError.value = true
  }

  // lifecycle hooks
  onMounted(async () => {
    accountSubscriptions.value = await fetchAccountSubscriptions()
  })

  watch(imageUrl, validateImageUrl)
</script>
