<template>
    <section class="min-h-full" aria-labelledby="profile-overview-title">
        <div class="rounded-lg bg-white dark:bg-slate-800 ring-1 ring-black dark:ring-slate-700 ring-opacity-5 overflow-hidden shadow">
                <div class="px-3 py-6">
                    <div class="mx-24 sm:flex sm:items-center sm:justify-between max-h-screen-md">
                        <div class="sm:flex sm:space-x-5 break-words mr-5">
                            <div class="flex flex-col mt-4 text-center align sm:mt-0 sm:pt-1 sm:text-left">
                                <p class="mb-3 text-xl font-bold text-gray-900 dark:text-gray-100 sm:text-2xl"> P/{{ myPoll.question  }}</p>
                                <p class="text-sm font-medium text-gray-500 dark:text-gray-300">{{  }}</p>
                                <div class="inline-flex">
                                    <AccountAvatar :account="myPoll.author" class="h-12 w-12 mr-2 flex-shrink-0"></AccountAvatar>
                                        <div class="grid grid-cols-1">

                                    
                                    <router-link :to="`/@${myPoll.author}`" class="flex items-center justify-start gap-2">
                                        Poll Creator: {{ myPoll.author }}
                                    </router-link>
                                    <a
                                        v-for="community in myCommunity"
                                        :href="'https://peakd.com/c/hive-104500/created'"
                                        target="_blank"
                                        class="font-medium text-emerald-600 dark:text-emerald-400 font-bold"
                                    > C/{{ community.title }}</a
                                    >
                                        </div>
                                </div>
                            </div>
                        </div>
                        <div class="flex sm:flex-col content-stretch sm:whitespace-nowrap gap-3">
                            <div class="flex justify-center content-center mt-5 sm:mt-0">
                            <a
                            :href="'https://peakd.com/hive-104500/@' + myPoll.author + '/' + myPoll.permlink"
                            target="_blank"
                            class="sm:grow grow-0 text-center px-5 py-3.5 border shadow-sm sm:text-sm text-xs font-medium rounded-md border-gray-300 dark:border-gray-400 text-gray-700 dark:text-gray-300 bg-white dark:bg-slate-800 hover:bg-gray-50 dark:hover:bg-slate-700"
                            >
                            {{ $t('account.peakD-view') }}
                            </a>
                            </div>
                        </div>
                    </div>
                    <div class="mx-24 mt-6 grid grid-cols-1"  v-for="community in myCommunity">
                        <div class="mx-24 w-max">
                            <img src="https://files.peakd.com/file/peakd-hive/dimeilaz/23uQxtrrVjMLJV3bDjgFPcd49oBs2ERF4953TMqc5KqSzKtvie5nL9PUkJLekrPNmWkXb.jpg" alt="" class="max-w-screen-md max-h-screen-md justify-center sm:max-w-screen-xs">
                        </div>
                        <div class="mt-6 sm:flex sm:space-x-5 break-words">
                                {{ myPoll.post_body }}
                        </div>
                    </div>
                    <div class="mx-24 ">
                        <div v-for="tag, index in myTags" :key="index" class=" mx-1 mt-3 inline-flex justify-center text-sm items-center gap-1 py-0.5 px-2 rounded-lg text-emerald-500 dark:text-emerald-500 border-2 border-emerald-500 bg-white dark:bg-gray-900 font-semibold hover:opacity-75 hover:cursor-pointer">
                            <span>
                                <p>#{{ tag }}</p>
                            </span>
                    </div>
                    </div>
                </div>
        </div>
    </section>
</template>

<script setup lang="ts">

import { Ref } from 'vue'
import { Poll } from '~/polls/api/pollDef'
import { formatNumber, formatCurrency, formatDate } from '~/common/helpers/formatter'
import { parseJSON } from 'date-fns'
import AccountAvatar from '~/common/components/AccountAvatar.vue'
import { getCommunity } from '~/stats/api/hiveOpenStatsApi'

const props = defineProps<{
    id: string
    pollData: Poll
  }>()

  const route = useRoute()
  const router = useRouter()


 let myPoll = props.pollData[0]
 let myTags = myPoll.tags

 console.log(myTags)

 console.log(myPoll.tags)

 const myCommunity = await getCommunity(myPoll.parent_permlink)

 console.log(myCommunity.title)

/*
 //A way to calculate the days between a poll and the actual date
var today = new Date(); //Obtaining the system date
var pollDate = new Date(myPoll.date); // Set day and month
pollDate.setFullYear(today.getFullYear()); // Set year to this year
var msPerDay = 24 * 60 * 60 * 1000; // Number of milliseconds per day
var daysFromCreated = (today.getTime() - pollDate.getTime()) / msPerDay; //we calculate how many days have passed since the poll was created
var daysFromCreated = Math.round(daysFromCreated); // returns the days since the poll was created

console.log(daysFromCreated)

*/

</script>