<template>
  <TransitionRoot as="template" :show="show">
    <Dialog as="div" class="relative z-10" @close="$emit('closeModal', false)">
      <TransitionChild
        as="template"
        enter="ease-out duration-300"
        enter-from="opacity-0"
        enter-to="opacity-100"
        leave="ease-in duration-200"
        leave-from="opacity-100"
        leave-to="opacity-0"
      >
        <div class="fixed inset-0 bg-gray-500 dark:bg-slate-900 bg-opacity-75 transition-opacity" />
      </TransitionChild>

      <div class="fixed inset-0 z-10 w-screen overflow-y-auto">
        <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">
          <TransitionChild
            as="template"
            enter="ease-out duration-300"
            enter-from="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
            enter-to="opacity-100 translate-y-0 sm:scale-100"
            leave="ease-in duration-200"
            leave-from="opacity-100 translate-y-0 sm:scale-100"
            leave-to="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
          >
            <DialogPanel
              class="relative transform overflow-hidden rounded-lg bg-white dark:bg-slate-800 px-4 pb-4 pt-5 text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg sm:p-6"
            >
              <div class="sm:flex sm:items-start mx-4">
                <div class="mt-3 text-center sm:ml-4 sm:mt-0 sm:text-left">
                  <DialogTitle as="h3" class="text-xl font-semibold leading-6 text-gray-900 dark:text-gray-100">Exclude locations and actions</DialogTitle>
                  <div class="mt-2 mb-4">
                    <p class="text-sm text-gray-500 dark:text-gray-300">Select locations or actions you don’t want to include in the routes shown</p>
                  </div>
                  <ul>
                    <li v-for="(info, element) in sortedElements" :key="element">
                      <div class="flex items-center justify-start gap-2 my-2 text-gray-900 dark:text-gray-100">
                        <input
                          v-model="excludedElements"
                          :value="element"
                          type="checkbox"
                          class="h-4 w-4 rounded dark:bg-slate-800 border-gray-300 dark:border-gray-500 text-emerald-600 dark:text-emerald-400 focus:ring-transparent"
                        />
                        <label
                          ><span> @{{ element }} </span>&nbsp;<span class="text-gray-400 uppercase">({{ info.type === 'token' ? 'chain' : info.type }})</span>
                        </label>
                        <img :src="elements[element].icon" class="h-4 w-auto inline-flex" :alt="`${element} icon`" />
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="mt-5 sm:mt-4 sm:flex sm:flex-row-reverse">
                <button
                  type="button"
                  class="w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-emerald-600 dark:bg-emerald-400 text-base font-medium text-white dark:text-slate-800 hover:bg-emerald-700 dark:hover:bg-emerald-200 focus:outline-none focus:ring-2 focus:ring-emerald-500 dark:focus:ring-emerald-100 sm:ml-3 sm:w-auto sm:text-sm"
                  @click="saveExcludedElements"
                >
                  Save
                </button>

                <button
                  type="button"
                  class="w-full inline-flex items-center justify-center rounded-md border border-gray-300 dark:border-slate-500 shadow-sm px-4 py-2 bg-white dark:bg-slate-800 text-base font-medium text-gray-700 dark:text-gray-200 hover:bg-gray-50 dark:hover:bg-slate-700 focus:outline-none focus:ring-2 focus:ring-emerald-500 dark:focus:ring-emerald-100 sm:ml-3 sm:w-auto sm:text-sm"
                  @click="$emit('closeModal', false)"
                  ref="cancelButtonRef"
                >
                  Cancel
                </button>
                <button
                  type="button"
                  class="w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-gray-400 text-base font-medium text-white dark:text-slate-800 hover:bg-gray-500 focus:outline-none focus:ring-2 focus:ring-emerald-500 dark:focus:ring-emerald-100 sm:ml-3 sm:w-auto sm:text-sm"
                  @click="excludedElements = []"
                >
                  Clear All
                </button>
              </div>
            </DialogPanel>
          </TransitionChild>
        </div>
      </div>
    </Dialog>
  </TransitionRoot>
</template>

<script setup lang="ts">
  import { Dialog, DialogPanel, DialogTitle, TransitionChild, TransitionRoot } from '@headlessui/vue'

  const props = defineProps<{ show: boolean; elements: any; storageName: string }>()
  const emit = defineEmits(['closeModal', 'saveExcludedElements'])

  const excludedElements = ref([])

  const sortedElements = computed(() => {
    const sortedKeys = Object.keys(props.elements).sort()
    const sortedObject: any = {}
    sortedKeys.forEach(key => {
      sortedObject[key] = props.elements[key]
    })
    return sortedObject
  })

  const checkForSavedElements = () => {
    const savedExcludedElements = localStorage.getItem(props.storageName)
    if (savedExcludedElements) {
      excludedElements.value = JSON.parse(savedExcludedElements)
    }
  }

  const saveExcludedElements = () => {
    emit('saveExcludedElements', excludedElements.value)
    emit('closeModal', false)
  }

  watch(
    () => props.show,
    () => {
      checkForSavedElements()
    }
  )
</script>
