<template>
  <section class="min-h-full" aria-labelledby="profile-overview-title">
    <div class="mb-4 rounded-lg bg-white dark:bg-slate-800 ring-1 ring-black dark:ring-slate-700 ring-opacity-5 overflow-hidden shadow">
      <div class="px-3 py-6">
        <div class="mx-5 sm:flex sm:items-center sm:justify-between">
          <div class="sm:flex sm:space-x-5 break-words mr-5">
            <div class="flex flex-col mt-4 text-center align sm:mt-0 sm:pt-1 sm:text-left">
              <p class="mb-1 text-xl font-bold text-gray-900 dark:text-gray-100 sm:text-2xl">Token {{ tokenData.name }}</p>
              <p class="text-sm font-medium text-gray-500 dark:text-gray-300">Symbol/Abbreviation: {{ tokenData.symbol.toUpperCase() }}</p>
            </div>
          </div>
          <div class="sm:whitespace-nowrap gap-3">
            <div class="flex justify-center content-center mt-5 sm:mt-0">
              <a
                :href="`https://www.coingecko.com/es/monedas/${tokenData.name.toLowerCase()}`"
                target="_blank"
                class="sm:grow grow-0 text-center px-5 py-3.5 border shadow-sm sm:text-sm text-xs font-medium rounded-md border-gray-300 dark:border-gray-400 text-gray-700 dark:text-gray-300 bg-white dark:bg-slate-800 hover:bg-gray-50 dark:hover:bg-slate-700"
              >
                {{ $t('token.name') }}
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div
      class="border-t border-gray-200 dark:border-slate-700 bg-gray-50 dark:bg-slate-800 grid grid-cols-3 divide-y divide-gray-200 dark:divide-slate-700 sm:divide-y-0 sm:divide-x"
    >
      <div class="flex flex-col justify-center px-1 sm:px-6 py-5 text-xs sm:text-sm font-medium text-center">
        <span><span class="hidden sm:inline">{{}}</span></span>
        <span class="text-gray-500 dark:text-gray-400 block">{{}}</span>
        <span class="text-gray-500 dark:text-gray-400 block">{{}}</span>
      </div>
      <div class="flex flex-col justify-center px-1 sm:px-6 py-5 text-xs sm:text-sm font-medium text-center">
        <div>
          <span>
            <span class="hidden sm:inline">{{}}</span>
          </span>
          <span class="text-gray-500 dark:text-gray-400 block">{{}}</span>
        </div>
      </div>
      <div class="flex flex-col justify-center px-1 sm:px-6 py-5 text-xs sm:text-sm font-medium text-center">
        <span> <span class="hidden sm:inline">{{}}</span></span>
        <span class="text-gray-500 dark:text-gray-400 block">{{}}</span>
      </div>
    </div>

    <div
      class="border-t border-gray-200 dark:border-slate-700 bg-gray-50 dark:bg-slate-800 grid grid-cols-3 divide-y divide-gray-200 dark:divide-slate-700 sm:divide-y-0 sm:divide-x"
    >
      <div class="flex flex-col justify-center px-1 sm:px-6 py-5 text-xs sm:text-sm font-medium text-center">
        <div>
          <span class="block sm:inline">{{}}</span>
        </div>
      </div>
      <div class="flex flex-col justify-center px-1 sm:px-6 py-5 text-xs sm:text-sm font-medium text-center">
        <div>
          <span>{{}}</span>
        </div>
      </div>
      <div class="flex flex-col justify-center px-1 sm:px-6 py-5 text-xs sm:text-sm font-medium text-center">
        <div>
          <span>{{}}</span>
        </div>
        <div>
          <span>{{}}</span>
        </div>
      </div>
    </div>
  </section>
</template>

<script setup lang="ts">
  import { Ref } from 'vue'
  import { fetchRoutes, fetchTokens } from '~/tokenRoutes/api/tokenRoutesApi'
  import { Token } from '~/tokenRoutes/api/tokenRoutesDef'
  import { formatNumber, formatCurrency, formatDate } from '~/common/helpers/formatter'
  import { CancelTokenStatic } from 'axios'
  import { splitAndCapitalize } from '~/common/helpers/formatter'

  const props = defineProps<{
    tokenData: any
  }>()

  const route = useRoute()
  const router = useRouter()

  console.log('Props: ', props.tokenData)

  // const loadTokenInfo = async () => {
  //   const rawResults = await fetchTokens()
  //   console.log(Object.values(rawResults))

  //   tokenInfo.value = rawResults.supported_tokens.map((t: any) => {
  //     const tokenName = splitAndCapitalize(t.name)
  //     const tokenSymbol = t.symbol
  //     return { name: tokenName, symbol: tokenSymbol }
  //   })

  //   console.log('Info: ', tokenInfo.value)
  // }

  // await loadTokenInfo()
</script>
