<template>
  <Combobox as="div" v-model="selectedToken">
    <div class="relative w-full">
      <ComboboxInput
        class="w-full rounded-md border dark:text-gray-300 border-gray-300 dark:border-slate-500 bg-white dark:bg-slate-800 py-2 pl-3 pr-10 shadow-sm focus:border-emerald-500 dark:focus:border-emerald-100 focus:outline-none focus:ring-1 focus:ring-emerald-500 dark:focus:ring-emerald-100 sm:text-sm uppercase"
        @change="selectedQuery = $event.target.value"
        :displayValue="token => token"
        autocomplete="off"
      ></ComboboxInput>
      <ComboboxButton class="absolute inset-y-0 right-0 flex items-center rounded-r-md px-2 focus:outline-none">
        <SelectorIcon class="h-5 w-5 text-gray-400" aria-hidden="true"></SelectorIcon>
      </ComboboxButton>

      <TransitionRoot leave="transition ease-in duration-0" leaveFrom="opacity-100" leaveTo="opacity-0" @after-leave="selectedQuery = ''">
        <ComboboxOptions
          class="absolute z-10 mt-1 max-h-72 w-full overflow-auto rounded-md bg-gray-100 dark:bg-slate-900 py-1 text-base shadow-lg ring-1 ring-black dark:ring-slate-700 ring-opacity-5 focus:outline-none sm:text-sm uppercase"
        >
          <div v-if="filteredTokens.length">
            <ComboboxOption v-for="token in filteredTokens" :key="token" :value="token" as="template" @click="selectToken(token)" v-slot="{ active, selected }">
              <li
                :class="[
                  'relative cursor-default select-none py-2 pl-3 pr-9',
                  active ? 'bg-emerald-600 dark:bg-emerald-400 text-gray-100 dark:text-slate-900' : 'text-gray-900 dark:text-gray-100'
                ]"
              >
                <div class="flex items-start">
                  <div :class="['ml-2 truncate', selected && 'font-semibold']">{{ token }}</div>
                </div>
                <span
                  v-if="selected"
                  :class="[
                    'absolute inset-y-0 right-0 flex items-center pr-4',
                    active ? 'text-gray-100 dark:text-slate-900' : 'text-emerald-600 dark:text-emerald-400'
                  ]"
                >
                  <CheckIcon class="h-5 w-5" aria-hidden="true"></CheckIcon>
                </span>
              </li>
            </ComboboxOption>
          </div>
          <div v-else-if="!filteredTokens.length && selectedQuery.length > 1">
            <ComboboxOption as="template" class="px-3 text-gray-900 dark:text-gray-100" :disabled="true">
              <div class="flex items-center justify-start text-red-600 dark:text-red-400 gap-2 ml-2">
                <ExclamationIcon class="h-5 w-auto"></ExclamationIcon>
                <p class="py-2 uppercase">NO MATCH</p>
              </div>
            </ComboboxOption>
          </div>
          <div v-if="filteredLocations.length && selectedQuery.length > 1">
            <div class="mx-2 border-t border-gray-200 dark:border-slate-700"></div>
            <ComboboxOption v-for="(item, index) in filteredLocations" :key="index" :value="item" @click="selectLocation(item)" as="template">
              <li
                class="relative cursor-default select-none py-2 pl-3 pr-9 text-gray-900 dark:text-gray-100 dark:hover:text-slate-900 hover hover:bg-emerald-600 dark:hover:bg-emerald-400"
              >
                <div class="flex items-center">
                  <div class="ml-1.5 truncate flex justify-center items-center gap-1.5">
                    <div class="flex justify-center items-center gap-2 text-xs">
                      <div class="flex-shrink-0 size-5"><img class="h-full w-auto mx-auto" :src="item.icon" :alt="item.location" /></div>
                      <div>
                        <span>{{ item.token }}</span
                        ><span class="lowercase">{{ `@${item.location}` }}</span>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            </ComboboxOption>
          </div>
        </ComboboxOptions>
      </TransitionRoot>
    </div>
  </Combobox>
</template>

<script setup lang="ts">
  import { CheckIcon, SelectorIcon, ExclamationIcon } from '@heroicons/vue/solid'
  import { findLocationsWithToken } from '../helpers/utils'
  import { ComboboxOptions } from '@headlessui/vue'

  const props = defineProps<{
    tokens: any
    locations: any
    currentToken: any
    currentLocation: any
  }>()

  const emit = defineEmits(['change'])

  const selectedToken = ref(props.currentToken)
  const selectedQuery = ref('')
  const selectedLocation = ref(props.currentLocation)

  const filteredTokens = computed(() => {
    return selectedQuery.value.length > 1 ? updateFilteredTokens(selectedQuery.value) : props.tokens.slice(0, 25)
  })

  const filteredLocations = computed(() => {
    return selectedQuery.value.length > 1 ? findLocationsWithToken(selectedQuery.value, props.currentLocation, props.locations) : []
  })

  const updateFilteredTokens = (inputValue: string) => {
    if (inputValue.length > 1) {
      return props.tokens.filter((token: string) => token.toLowerCase().includes(inputValue.toLowerCase()))
    } else {
      return []
    }
  }

  const selectToken = (token: string) => {
    selectedToken.value = token
    emit('change', token)
  }

  const selectLocation = (location: any) => {
    selectedToken.value = location.token
    selectedLocation.value = location.location

    emit('change', location.token, location.location)
  }

  watch(
    () => props.currentToken,
    newValue => {
      selectedToken.value = newValue
      selectedQuery.value = newValue
    }
  )

  watch(
    () => props.currentLocation,
    newValue => {
      selectedQuery.value = ''
      selectedLocation.value = newValue
    }
  )
</script>
