<template>
  <div class="text-center py-40">
    <p class="text-sm font-semibold text-emerald-600 dark:text-emerald-400 uppercase tracking-wide">404 error</p>
    <h1 class="mt-2 text-4xl font-extrabold text-emerald-600 dark:text-emerald-400 tracking-tight sm:text-5xl">
      {{ t('not-found') }}
    </h1>
    <p class="mt-2 text-base text-gray-900 dark:text-gray-300">Sorry, we couldn’t find what you’re looking for.</p>
    <div class="mt-6">
      <router-link to="/" class="text-base font-medium text-emerald-600 dark:text-emerald-400 hover:text-emerald-400"
        >Go back home<span aria-hidden="true"> &rarr;</span></router-link
      >
    </div>
  </div>
</template>

<script setup lang="ts">
  const { t } = useI18n()
</script>
