<template>
  <div class="cursor-pointer" @click="open = true">
    <section aria-labelledby="filter-heading">
      <h2 id="filter-heading" class="sr-only">Filters</h2>
      <div
        class="py-2 px-4 w-full rounded-lg text-sm font-medium text-center focus:z-0 relative text-gray-500 dark:text-gray-300 hover:text-gray-700 dark:hover:text-gray-200 hover:bg-gray-50 dark:hover:bg-slate-700 bg-white dark:bg-slate-800 ring-1 ring-black dark:ring-slate-700 ring-opacity-5"
      >
        <button type="button" class="flex items-center gap-2 text-sm font-medium text-center">
          <span class="hidden sm:block">Filters</span>
          <div class="block">
            <FilterIcon class="h-4 w-4 content-center" aria-hidden="true" />
          </div>
        </button>
      </div>
    </section>

    <!-- Mobile filter dialog -->
    <TransitionRoot as="template" :show="open">
      <Dialog as="div" class="relative z-40" @close="open = false">
        <TransitionChild
          as="template"
          enter="transition-opacity ease-linear duration-300"
          enter-from="opacity-0"
          enter-to="opacity-100"
          leave="transition-opacity ease-linear duration-300"
          leave-from="opacity-100"
          leave-to="opacity-0"
        >
          <div class="fixed inset-0 bg-black bg-opacity-25" />
        </TransitionChild>

        <div class="fixed inset-0 flex z-40">
          <TransitionChild
            as="template"
            enter="transition ease-in-out duration-300 transform"
            enter-from="translate-x-full"
            enter-to="translate-x-0"
            leave="transition ease-in-out duration-300 transform"
            leave-from="translate-x-0"
            leave-to="translate-x-full"
          >
            <DialogPanel
              class="ml-auto relative max-w-xs w-full h-full rounded-l-lg bg-white dark:bg-slate-800 shadow-xl py-4 pb-6 flex flex-col overflow-y-auto"
            >
              <div class="px-4 mb-4 flex items-center justify-between">
                <h2 class="text-lg font-medium text-gray-900 dark:text-gray-100">Filters</h2>
                <button
                  type="button"
                  class="-mr-2 w-10 h-10 bg-white dark:bg-slate-800 p-2 rounded-md flex items-center justify-center text-gray-400 hover:bg-gray-50 dark:hover:bg-slate-700 active:ring-2 focus:ring-emerald-500 dark:focus:ring-emerald-100"
                  @click="open = false"
                >
                  <span class="sr-only">Close menu</span>
                  <XIcon class="h-6 w-6" aria-hidden="true" />
                </button>
              </div>

              <!-- Filters -->
              <div class="flex flex-col grow">
                <template v-for="(filter, name) in filters" :key="name">
                  <!-- text input filters -->
                  <div v-if="!filter.options" class="px-4 py-3 mb-4 bg-transparent w-full text-sm text-gray-700 dark:text-gray-200">
                    <label class="block text-sm font-medium text-gray-700 dark:text-gray-200 mb-2">{{ filter.label }}</label>
                    <div>
                      <input
                        type="text"
                        :name="name"
                        :value="filter.value"
                        @input="$emit('change', name, $event.target.value), (clearFilters = false)"
                        class="shadow-sm focus:ring-emerald-500 dark:focus:ring-emerald-100 focus:border-emerald-500 dark:border:ring-emerald-100 block w-full sm:text-sm border-gray-300 dark:border-slate-500 dark:bg-slate-800 rounded-md"
                        :placeholder="filter.placeholder"
                      />
                    </div>
                  </div>

                  <Disclosure
                    v-else
                    as="div"
                    :class="{ 'border-t border-gray-200 dark:border-slate-600': !Array.isArray(filter.options) }"
                    class="px-4 py-6"
                    v-slot="{ open }"
                    :defaultOpen="true"
                  >
                    <!-- dropdown filters -->
                    <div v-if="Array.isArray(filter.options)" class="border-t-0 mb-4 bg-transparent w-full text-sm text-gray-700 dark:text-gray-200">
                      <label class="block text-sm font-medium text-gray-700 dark:text-gray-200 mb-2">{{ filter.label }}</label>
                      <OptionsDropdown
                        :current="filter.value"
                        :elements="filter.options"
                        @change="$emit('change', name, $event), (clearFilters = false)"
                      ></OptionsDropdown>
                    </div>
                    <!-- checkbox filters -->
                    <div v-if="!Array.isArray(filter.options)">
                      <h3 h3 class="-mx-2 -my-3 flow-root">
                        <DisclosureButton class="px-2 py-3 bg-white dark:bg-slate-800 w-full flex items-center justify-between text-sm text-gray-400">
                          <span class="font-medium text-gray-900 dark:text-gray-100">
                            {{ filter.label }}
                          </span>
                          <span class="ml-6 flex items-center">
                            <ChevronDownIcon :class="[open ? '-rotate-180' : 'rotate-0', 'h-5 w-5 transform']" aria-hidden="true" />
                          </span>
                        </DisclosureButton>
                      </h3>
                      <DisclosurePanel class="pt-6">
                        <div class="space-y-6">
                          <div v-for="(option, optionName) in filter.options" :key="optionName" class="flex items-center">
                            <input
                              :name="`${name}.${optionName}`"
                              :checked="option.value"
                              @change="$emit('change', `${name}.${optionName}`, $event.target.checked), (clearFilters = false)"
                              type="checkbox"
                              class="h-4 w-4 border-gray-300 dark:border-slate-500 rounded text-emerald-600 focus:ring-emerald-500 dark:focus:ring-emerald-100 dark:text-slate-800 dark:bg-slate-800"
                            />
                            <label class="ml-3 text-sm text-gray-500 dark:text-gray-300">
                              {{ option.label }}
                            </label>
                          </div>
                        </div>
                      </DisclosurePanel>
                    </div>
                  </Disclosure>
                </template>
              </div>
              <div class="flex justify-center">
                <button
                  type="button"
                  class="grow mx-4 justify-center rounded-md border border-gray-300 dark:border-slate-500 shadow-sm px-4 py-2 bg-white dark:bg-slate-800 text-base font-medium text-gray-700 dark:text-gray-200 hover:bg-gray-50 dark:hover:bg-slate-700 focus:outline-none focus:ring-2 focus:ring-emerald-500 dark:focus:ring-emerald-100 sm:mt-0 w-auto sm:text-sm"
                  @click="$emit('clearFilters', defaultFilters), (clearFilters = true)"
                  ref="clearFiltersRef"
                >
                  Clear filters
                </button>
              </div>
            </DialogPanel>
          </TransitionChild>
        </div>
      </Dialog>
    </TransitionRoot>
  </div>
</template>

<script setup lang="ts">
  import { DisclosurePanel } from '@headlessui/vue'
  import { XIcon } from '@heroicons/vue/outline'
  import { ChevronDownIcon, FilterIcon } from '@heroicons/vue/solid'
  import OptionsDropdown from './OptionsDropdown.vue'

  const props = defineProps<{
    filters: Object
  }>()

  const open = ref(false)
  const clearFilters = ref(false)
  const defaultFilters = ref(JSON.stringify(props.filters))
</script>
