<template>
  <div>
    <Teleport to="#page-header-right-target">
      <Filters @change="handleFilterChange" :filters="filters"></Filters>
      <span class="mx-1"></span>
      <TabSwitch :tabs="tabs"></TabSwitch>
    </Teleport>

    <div class="flex flex-col shadow ring-1 ring-black dark:ring-slate-700 ring-opacity-5">
      <div class="overflow-x-auto">
        <div class="inline-block min-w-full align-middle">
          <div class="overflow-hidden rounded-lg">
            <table class="min-w-full divide-y divide-gray-300 dark:divide-slate-600">
              <thead class="bg-gray-50 dark:bg-slate-800">
                <tr>
                  <th
                    scope="col"
                    @click="setSortDir('rank')"
                    class="py-3.5 pl-4 pr-3 text-center text-sm font-semibold text-gray-900 dark:text-gray-100 hover:cursor-pointer"
                    :class="[currentSort === 'rank' ? 'bg-gray-200 dark:bg-slate-600/50' : 'hover:bg-gray-100 dark:hover:bg-slate-700/50']"
                  >
                    <div class="flex items-center justify-center">
                      Rank
                      <component
                        v-if="currentSort === 'rank'"
                        :is="currentSortDir === 'asc' ? ArrowSmUpIcon : ArrowSmDownIcon"
                        class="h-4 w-4 ml-1"
                      ></component>
                    </div>
                  </th>
                  <th
                    scope="col"
                    @click="setSortDir('account')"
                    class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 dark:text-gray-100 hover:cursor-pointer"
                    :class="[currentSort === 'owner' ? 'bg-gray-200 dark:bg-slate-600/50' : 'hover:bg-gray-100 dark:hover:bg-slate-700/50']"
                  >
                    <div class="flex items-center justify-start">
                      Witness
                      <component
                        v-if="currentSort === 'account'"
                        :is="currentSortDir === 'asc' ? ArrowSmUpIcon : ArrowSmDownIcon"
                        class="h-4 w-4 ml-1"
                      ></component>
                    </div>
                  </th>
                  <th
                    scope="col"
                    @click="setSortDir('approvalWeight')"
                    class="py-3.5 pl-4 pr-3 text-center text-sm font-semibold text-gray-900 dark:text-gray-100 hover:cursor-pointer"
                    :class="[currentSort === 'approvalWeight' ? 'bg-gray-200 dark:bg-slate-600/50' : 'hover:bg-gray-100 dark:hover:bg-slate-700/50']"
                  >
                    <div class="flex items-center justify-center">
                      <div class="flex flex-col">Weight<small class="block text-xs font-medium text-gray-900 dark:text-gray-100">(WORKERBEE)</small></div>
                      <component
                        v-if="currentSort === 'approvalWeight'"
                        :is="currentSortDir === 'asc' ? ArrowSmUpIcon : ArrowSmDownIcon"
                        class="h-4 w-4 ml-1"
                      ></component>
                    </div>
                  </th>
                  <th scope="col" class="py-3.5 pl-4 pr-3 text-center text-sm font-semibold text-gray-900 dark:text-gray-100">Version</th>
                  <th scope="col" class="py-3.5 pl-4 pr-3 text-center text-sm font-semibold text-gray-900 dark:text-gray-100">Status</th>

                  <th
                    scope="col"
                    @click="setSortDir('verifiedRounds')"
                    class="py-3.5 pl-4 pr-3 text-center text-sm font-semibold text-gray-900 dark:text-gray-100 hover:cursor-pointer"
                    :class="[currentSort === 'verifiedRounds' ? 'bg-gray-200 dark:bg-slate-600/50' : 'hover:bg-gray-100 dark:hover:bg-slate-700/50']"
                  >
                    <div class="flex items-center justify-center">
                      Rounds
                      <component
                        v-if="currentSort === 'verifiedRounds'"
                        :is="currentSortDir === 'asc' ? ArrowSmUpIcon : ArrowSmDownIcon"
                        class="h-4 w-4 ml-1"
                      ></component>
                    </div>
                  </th>
                  <th
                    scope="col"
                    @click="setSortDir('missedRounds')"
                    class="py-3.5 pl-4 pr-3 text-center text-sm font-semibold text-gray-900 dark:text-gray-100 hover:cursor-pointer"
                    :class="[currentSort === 'missedRounds' ? 'bg-gray-200 dark:bg-slate-600/50' : 'hover:bg-gray-100 dark:hover:bg-slate-700/50']"
                  >
                    <div class="flex items-center justify-center">
                      Missed
                      <component
                        v-if="currentSort === 'missedRounds'"
                        :is="currentSortDir === 'asc' ? ArrowSmUpIcon : ArrowSmDownIcon"
                        class="h-4 w-4 ml-1"
                      ></component>
                    </div>
                  </th>
                  <th
                    scope="col"
                    @click="setSortDir('lastRoundVerified')"
                    class="py-3.5 pl-4 pr-3 text-center text-sm font-semibold text-gray-900 dark:text-gray-100 hover:cursor-pointer"
                    :class="[currentSort === 'lastRoundVerified' ? 'bg-gray-200 dark:bg-slate-600/50' : 'hover:bg-gray-100 dark:hover:bg-slate-700/50']"
                  >
                    <div class="flex items-center justify-center">
                      Last Round
                      <component
                        v-if="currentSort === 'lastRoundVerified'"
                        :is="currentSortDir === 'asc' ? ArrowSmUpIcon : ArrowSmDownIcon"
                        class="h-4 w-4 ml-1"
                      ></component>
                    </div>
                  </th>
                  <th
                    scope="col"
                    @click="setSortDir('lastBlockVerified')"
                    class="py-3.5 pl-4 pr-3 text-center text-sm font-semibold text-gray-900 dark:text-gray-100 hover:cursor-pointer"
                    :class="[currentSort === 'lastBlockVerified' ? 'bg-gray-200 dark:bg-slate-600/50' : 'hover:bg-gray-100 dark:hover:bg-slate-700/50']"
                  >
                    <div class="flex items-center justify-center">
                      Last Block
                      <component
                        v-if="currentSort === 'lastBlockVerified'"
                        :is="currentSortDir === 'asc' ? ArrowSmUpIcon : ArrowSmDownIcon"
                        class="h-4 w-4 ml-1"
                      ></component>
                    </div>
                  </th>
                  <!--
                  <th
                    scope="col"
                    @click="setSortDir('hbd_interest_rate')"
                    class="py-3.5 pl-4 pr-3 text-center text-sm font-semibold text-gray-900 dark:text-gray-100 hover:cursor-pointer"
                    :class="[currentSort === 'hbd_interest_rate' ? 'bg-gray-200 dark:bg-slate-600/50' : 'hover:bg-gray-100 dark:hover:bg-slate-700/50']"
                  >
                    <div class="flex items-center justify-center">
                      <div class="flex flex-col">Last Reward</div>
                      <component
                        v-if="currentSort === 'hbd_interest_rate'"
                        :is="currentSortDir === 'asc' ? ArrowSmUpIcon : ArrowSmDownIcon"
                        class="h-4 w-4 ml-1"
                      ></component>
                    </div>
                  </th>
                  -->
                </tr>
              </thead>
              <tbody v-for="witness in sortedWitnesses" :key="witness._id" class="divide-y divide-gray-200 dark:divide-slate-600 bg-white dark:bg-slate-700">
                <tr>
                  <!-- Rank -->
                  <td class="whitespace-nowrap py-3.5 pl-4 pr-3 text-center text-sm text-gray-500 dark:text-gray-300">{{ witness.rank }}</td>
                  <!-- Witness -->
                  <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm sm:pl-6">
                    <div class="flex items-center justify-start">
                      <div class="h-8 w-8 flex-shrink-0">
                        <AccountAvatar :account="witness.account" class="h-8 w-8"></AccountAvatar>
                      </div>
                      <div class="flex items-center ml-4">
                        <router-link :to="`/@${witness.account}`" class="font-medium text-gray-900 dark:text-gray-100">{{ witness.account }}</router-link>

                        <a :href="`https://peakd.com/@${witness.account}`" target="_blank" class="text-gray-500 dark:text-gray-300">
                          <ExternalLinkIcon class="h-4 w-4 ml-2"></ExternalLinkIcon>
                        </a>
                      </div>
                    </div>
                  </td>
                  <!-- Weight -->
                  <td class="whitespace-nowrap py-3.5 pl-4 pr-3 text-center text-sm text-gray-500 dark:text-gray-300">
                    {{ numeral(witness.approvalWeight).format('0,0') }}
                  </td>
                  <!-- Version -->
                  <td class="whitespace-nowrap py-3.5 pl-4 pr-3 text-center text-sm text-gray-500 dark:text-gray-300">
                    <span class="inline-flex rounded-full px-2 leading-5 text-sm" :class="{ 'bg-red-100 text-red-700': false }"> {{}}</span>
                  </td>
                  <!-- Status -->
                  <td class="whitespace-nowrap py-3.5 pl-4 pr-3 text-center text-sm text-gray-500 dark:text-gray-300">
                    <span
                      v-if="witness.enabled"
                      class="inline-flex rounded-full bg-emerald-100 dark:bg-emerald-700 px-2 text-xs font-semibold leading-5 text-emerald-700 dark:text-emerald-100"
                      >Active</span
                    >
                    <span v-else class="inline-flex rounded-full bg-red-100 dark:bg-red-700 px-2 text-xs font-semibold leading-5 text-red-700 dark:text-red-100"
                      >Disabled</span
                    >
                  </td>

                  <!-- Rounds -->
                  <td class="whitespace-nowrap py-3.5 pl-4 pr-3 text-center text-sm text-gray-500 dark:text-gray-300">{{ witness.verifiedRounds }}</td>
                  <!-- Missed Rounds-->
                  <td class="whitespace-nowrap py-3.5 pl-4 pr-3 text-center text-sm text-gray-500 dark:text-gray-300">{{ witness.missedRounds }}</td>
                  <!-- Last Round -->
                  <td class="whitespace-nowrap py-3.5 pl-4 pr-3 text-center text-sm text-gray-500 dark:text-gray-300">
                    <div>{{ witness.lastRoundVerified }}</div>
                    <div class="text-xs">{{}}</div>
                  </td>
                  <!-- Last block -->
                  <td class="whitespace-nowrap py-3.5 pl-4 pr-3 text-center text-sm text-gray-500 dark:text-gray-300">
                    <div>{{ witness.lastBlockVerified }}</div>
                    <div class="text-xs">{{}}</div>
                  </td>
                  <!-- Last Reward -->
                  <!--
                  <td class="whitespace-nowrap py-3.5 pl-4 pr-3 text-center text-sm text-gray-500 dark:text-gray-300">{{}}</td>
                  -->
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
  import { ArrowSmUpIcon, ArrowSmDownIcon, ExternalLinkIcon } from '@heroicons/vue/outline'
  import { getWitnesses, getWitnessParams } from '~/explorer/api/hiveEngineApi'
  import numeral from 'numeral'

  const route = useRoute()

  const tabs = computed(() => [
    { name: 'Hive', to: `/witnesses`, current: route.path === `/witnesses`, enabled: true },
    { name: 'Hive Engine', to: `/witnesses/hive-engine`, current: route.path === `/witnesses/hive-engine`, enabled: true }
  ])

  const witnesses: any[] = (await getWitnesses()).map((witness: any, index: number) => ({
    ...witness,
    // add rank
    rank: index + 1,
    // add approval weight
    approvalWeight: witness.approvalWeight.$numberDecimal
  }))
  console.log('Witnesses: ', witnesses)

  const witnessesParams = await getWitnessParams()

  // filtering
  const filters = ref({
    account: {
      label: 'Witness',
      placeholder: '@account',
      value: ''
    },
    status: {
      label: 'Status',
      options: {
        active: { label: 'Active', value: false },
        disabled: { label: 'Disabled', value: false }
      }
    }
  })

  const handleFilterChange = (filterName: string, filterValue: boolean | number | string) => {
    if (filterName.includes('.')) {
      const group = filterName.split('.')[0]
      const name = filterName.split('.')[1]

      const filter = (filters.value as any)[group]
      if (filter) {
        const option = filter.options && filter.options[name]
        if (option) {
          option.value = filterValue
        }
      }
    } else {
      const filter = (filters.value as any)[filterName]
      if (filter) {
        filter.value = filterValue
      }
    }
  }

  const filteredWitnesses = computed(() => {
    return witnesses.filter(witness => {
      // account name
      if (filters.value.account.value && !witness.account.includes(filters.value.account.value)) {
        return false
      }

      // check which status filters are enabled
      const statusFilters = {
        active: filters.value.status.options.active.value,
        disabled: filters.value.status.options.disabled.value
      }
      // check that record status is valid for the above filters
      if (Object.values(statusFilters).some(v => v)) {
        const witnessStatus = witness.enabled ? 'active' : 'disabled'
        if (!statusFilters[witnessStatus]) {
          return false
        }
      }
      return true
    })
  })

  // sorting
  const currentSort = ref('approvalWeight')
  const currentSortDir = ref('desc')

  function setSortDir(s: any) {
    // if s == current sort, reverse
    if (s === currentSort.value) {
      currentSortDir.value = currentSortDir.value === 'asc' ? 'desc' : 'asc'
    } else {
      currentSort.value = s
      currentSortDir.value = 'desc'
    }
  }

  const sortedWitnesses = computed(() =>
    [...filteredWitnesses.value].sort((a, b) => {
      const modifier = currentSortDir.value === 'desc' ? -1 : 1

      switch (currentSort.value) {
        // sorting names
        case 'account':
          return a[currentSort.value].localeCompare(b[currentSort.value]) * modifier
        // sorting numbers
        default:
          if (parseFloat(a[currentSort.value]) < parseFloat(b[currentSort.value])) return -1 * modifier
          if (parseFloat(a[currentSort.value]) > parseFloat(b[currentSort.value])) return 1 * modifier
          return 0
      }
    })
  )
</script>
