<template>
  <Bar :options="chartOptions" :data="chartData" :id="chartId" :styles="styles"></Bar>
</template>

<script setup lang="ts">
  import { Bar } from 'vue-chartjs'
  import { Chart as ChartJS, Title, Tooltip, Legend, BarElement, LineController, LineElement, PointElement, CategoryScale, LinearScale } from 'chart.js'
  import { parse, format, min, startOfWeek, endOfWeek } from 'date-fns'
  import { useSettingsStore } from '~/stores/settings'

  const settingsStore = useSettingsStore()

  const darkMode = computed(() => settingsStore.settings.darkMode)

  ChartJS.register(Title, Tooltip, Legend, BarElement, LineController, LineElement, PointElement, CategoryScale, LinearScale)

  const props = defineProps({
    chartId: {
      type: String,
      required: true
    },
    styles: {
      type: Object,
      default: () => ({
        height: '35vh',
        ['max-height']: '400px'
      })
    },
    labels: {
      type: Array,
      required: true,
      default: () => []
    },
    datasets: {
      type: Array,
      required: true,
      default: () => []
    },
    timeframe: {
      type: String,
      default: 'daily'
    },
    yMinValues: {
      type: Object,
      required: false
    }
  })

  const chartOptions = {
    responsive: true,
    maintainAspectRatio: true,
    scales: {
      x: {
        ticks: {
          ...(darkMode.value ? { color: '#cbd5e1' } : {}),
          callback: function (value: any) {
            const chart = this as any
            const label = chart.getLabelForValue(value)
            if (!label) return '-'

            try {
              if (props.timeframe === 'daily') {
                const date = parse(label, 'yyyy-MM-dd', new Date())
                return format(date, 'PP')
              }
              if (props.timeframe === 'weekly') {
                const date = parse(label, 'yyyy-MM-dd', new Date())

                const weekEndDate = min([endOfWeek(date, { weekStartsOn: 1 })])
                return `${format(startOfWeek(date, { weekStartsOn: 1 }), 'MMM d')} - ${format(weekEndDate, 'MMM d')}`
              }

              if (props.timeframe === 'monthly') {
                const date = parse(label, 'yyyy-MM', new Date())
                return format(date, 'MMM, yyyy')
              }
            } catch (ignore) {}

            return label
          }
        }
      },
      ...(props.datasets.length >= 2 && props.datasets[0].type !== props.datasets[1].type
        ? {
            yLeft: {
              type: 'linear',
              display: true,
              position: 'left',
              ticks: {
                ...(darkMode.value ? { color: '#cbd5e1' } : {})
              },
              ...(props.yMinValues?.left ? { min: props.yMinValues.left } : {})
            },
            yRight: {
              type: 'linear',
              display: true,
              position: 'right',
              grid: {
                drawOnChartArea: false // only want the grid lines for one axis to show up
              },
              ticks: {
                ...(darkMode.value ? { color: '#cbd5e1' } : {})
              },
              ...(props.yMinValues?.right ? { min: props.yMinValues.right } : {})
            }
          }
        : {
            y: {
              ticks: {
                ...(darkMode.value ? { color: '#cbd5e1' } : {})
              },
              ...(props.yMinValues?.left ? { min: props.yMinValues.left } : {})
            }
          })
    },
    plugins: {
      legend: {
        display: props.datasets.length > 1,
        labels: {
          ...(darkMode.value ? { color: '#cbd5e1' } : {})
        }
      }
    }
  }

  const chartData = computed(() => ({
    labels: props.labels,
    datasets: props.datasets.map((dataset: any) => ({ borderColor: ['#fcd34d'], backgroundColor: ['#fcd34d'], color: ['#fff'], ...dataset }))
  }))
</script>
