<template>
    <section class="min-h-full" aria-labelledby="profile-overview-title">
        <div v-for="thisCommunity in community" class="rounded-lg bg-white dark:bg-slate-800 ring-1 ring-black dark:ring-slate-700 ring-opacity-5 overflow-hidden shadow">
                <div class="px-3 py-6">
                    <div class="mx-5 sm:flex sm:items-center sm:justify-between">
                        <div class="sm:flex sm:space-x-5 break-words mr-5">
                            <AccountAvatar :account="props.name" size="medium" class="flex-shrink-0" imgClass="mx-auto h-20 w-20"></AccountAvatar>
                            <div class="flex flex-col mt-4 text-center align sm:mt-0 sm:pt-1 sm:text-left">
                                <p class="mb-1 text-xl font-bold text-gray-900 dark:text-gray-100 sm:text-2xl"> C/{{ thisCommunity.title }}</p>
                                <p class="text-sm font-medium text-gray-500 dark:text-gray-300">{{ thisCommunity.about }}</p>
                                <span class="text-gray-500 dark:text-gray-400 block mt-2"> Owner: {{ props.name }} | Created: {{ formatDate(thisCommunity.created) }}</span>
                            </div>
                        </div>
                        <div class="flex sm:flex-col content-stretch sm:whitespace-nowrap gap-3">
                            <div class="flex justify-center content-center mt-5 sm:mt-0">
                            <a
                            :href="`https://peakd.com/c/${props.name}`"
                            target="_blank"
                            class="sm:grow grow-0 text-center px-5 py-3.5 border shadow-sm sm:text-sm text-xs font-medium rounded-md border-gray-300 dark:border-gray-400 text-gray-700 dark:text-gray-300 bg-white dark:bg-slate-800 hover:bg-gray-50 dark:hover:bg-slate-700"
                            >
                            {{ $t('account.peakD-view') }}
                            </a>
                            </div>
                        </div>
                    </div>
                </div>

            <div
            class="border-t border-gray-200 dark:border-slate-700 bg-gray-50 dark:bg-slate-800 grid grid-cols-3 divide-y divide-gray-200 dark:divide-slate-700 sm:divide-y-0 sm:divide-x"
            >
                <div class="flex flex-col justify-center px-1 sm:px-6 py-5 text-xs sm:text-sm font-medium text-center">
                <span
                >Total <span class="hidden sm:inline">{{ $t('community.total_subscribers') }}</span
                >: {{ formatNumber(thisCommunity.total_subscribers, '0,0[.]') }}</span
                >
                <span class="text-gray-500 dark:text-gray-400 block">{{ $t('communitySubsAvg') }}: {{ formatCurrency(communitySubsAvg, '0.a') }}</span>
                <span class="text-gray-500 dark:text-gray-400 block">{{ $t('communitySubsDailyAvg') }}: {{ formatCurrency(communitySubsDailyAvg, '0.a')}}/day</span>
                </div>
                <div class="flex flex-col justify-center px-1 sm:px-6 py-5 text-xs sm:text-sm font-medium text-center">
                    <div>
                        <span>
                        Total <span class="hidden sm:inline">{{ $t('community.total_posts') }}:</span>
                        {{ formatNumber(thisCommunity.total_posts, '0,0[.]') }} 
                        </span>
                        <span class="text-gray-500 dark:text-gray-400 block">{{ $t('communityPostsAvg') }}: {{ formatCurrency(communityPostsAvg, '0.0a') }}</span>
                    </div>
                </div>
                <div class="flex flex-col justify-center px-1 sm:px-6 py-5 text-xs sm:text-sm font-medium text-center">
                    <span
                    >Total <span class="hidden sm:inline">{{ $t('community.total_comments') }}</span
                    >: {{ formatNumber(thisCommunity.total_comments, '0,0[.]') }}</span
                    >
                    <span class="text-gray-500 dark:text-gray-400 block">{{ $t('communityCommentsAvg') }}: {{ formatCurrency(communityCommentsAvg, '0.0a') }}</span>
                </div>
            </div>

            <div
            class="border-t border-gray-200 dark:border-slate-700 bg-gray-50 dark:bg-slate-800 grid grid-cols-3 divide-y divide-gray-200 dark:divide-slate-700 sm:divide-y-0 sm:divide-x"
            >
                <div class="flex flex-col justify-center px-1 sm:px-6 py-5 text-xs sm:text-sm font-medium text-center">
                    <div>
                        <span class="block sm:inline">{{ $t('community.average_daily_unique_post_authors')}} : {{ formatNumber(thisCommunity.unique_post_authors_last_30_days, '0,0[.]')}}</span
                        >
                    </div>
                </div>
                <div class="flex flex-col justify-center px-1 sm:px-6 py-5 text-xs sm:text-sm font-medium text-center">
                    <div>
                        <span>{{ $t('community.average_daily_unique_comment_authors') }} : {{ formatNumber(thisCommunity.unique_comment_authors_last_30_days, '0,0[.]') }}</span>
                    </div>
                </div>
                <div class="flex flex-col justify-center px-1 sm:px-6 py-5 text-xs sm:text-sm font-medium text-center">
                    <div>
                        <span>{{ $t('community.post_payouts_hbd') }} : {{ formatCurrency(thisCommunity.post_payouts_hbd, '0,0[.]') }} HBD</span>
                    </div>
                    <div>
                        <span>{{ $t('community.comment_payouts_hbd') }} : {{ formatCurrency(thisCommunity.comment_payouts_hbd, '0,0[.]') }} HBD</span>
                    </div>
                </div>
        </div>
    </div>
    </section>
</template>

<script setup lang="ts">

import { Ref } from 'vue'
import { getCommunity, getCommunityByDays, getComments, getPosts, getSubscribers } from '~/stats/api/hiveOpenStatsApi'
import { Community } from '~/stats/api/communityDef'
import { formatNumber, formatCurrency, formatDate } from '~/common/helpers/formatter'

const props = defineProps<{
    name: string
    community: Community
  }>()

  const route = useRoute()
  const router = useRouter()

  const community = await getCommunity(props.name)

  const community30days = await getCommunityByDays(props.name, 30)

  console.log(community)

  console.log(community30days)

  const communitySubs = await getSubscribers(props.name, 'yearly')

  const communityComments = await getComments(props.name, 'daily')

  const communityPosts = await getPosts(props.name, 'daily')

  const communitySubsAvg = computed(() => {
    let subs: number = 0
    let years: number = 0
   for (let keys in Object.values(communitySubs)){
    let subNumber: number = Number(communitySubs[keys].value)
    subs = subs + subNumber
    years = years + 1
   }
   years = years * 12
   return subs / years
  })

  const communitySubsDailyAvg = computed(() => {
    let subs: number = 0
    let years: number = 0
   for (let keys in Object.values(communitySubs)){
    let subNumber: number = Number(communitySubs[keys].value)
    subs = subs + subNumber
    years = years + 1
   }
   years = years * 365
   return subs / years
  })

  const communityCommentsAvg = computed(() => {
    let comments: number = 0
    let days: number = 0
   for (let keys in Object.values(communityComments)){
    if (days > 30) break
    let commentNumber: number = Number(communityComments[keys].value)
    comments = comments + commentNumber
    days = days + 1
   }
   return comments
  })

  const communityPostsAvg = computed(() => {
    let posts: number = 0
    let days: number = 0
   for (let keys in Object.values(communityPosts)){
    if (days > 30) break
    let postsNumber: number = Number(communityPosts[keys].value)
    posts = posts + postsNumber
    days = days + 1
   }
   return posts
  })

</script>