<template>
  <Teleport to="#page-header-right-target">
    <Filters @change="handleFilterChange" @clearFilters="clearFilters" :filters="filters"></Filters>
    <CreatePollModal></CreatePollModal>
  </Teleport>

  <div>
    <div class="flex flex-col shadow rounded-lg ring-1 ring-black dark:ring-slate-700 ring-opacity-5">
      <div class="overflow-x-auto">
        <div class="inline-block min-w-full align-middle">
          <div class="overflow-hidden rounded-lg">
            <table class="min-w-full divide-y divide-gray-300 dark:divide-slate-600">
              <thead class="bg-gray-100 dark:bg-slate-900">
                <tr>
                  <th
                    scope="col"
                    @click="setSortDir('author')"
                    class="py-5 px-3 text-left text-sm font-semibold text-gray-900 dark:text-gray-100 hover:cursor-pointer"
                    :class="[currentSort === 'author' ? 'bg-gray-200 dark:bg-slate-700/50 ' : 'hover:bg-gray-100 dark:hover:bg-slate-700/50']"
                  >
                    <div class="flex items-center justify-start">
                      {{ $t('Poll Author') }}
                      <component
                        v-if="currentSort === 'author'"
                        :is="currentSortDir === 'asc' ? ArrowSmUpIcon : ArrowSmDownIcon"
                        class="h-4 w-4 ml-1"
                      ></component>
                    </div>
                  </th>
                  <th
                    scope="col"
                    @click="setSortDir('post_title')"
                    class="py-5 px-3 text-left text-sm font-semibold text-gray-900 dark:text-gray-100 hover:cursor-pointer"
                    :class="[currentSort === 'post_title' ? 'bg-gray-200 dark:bg-slate-700/50 ' : 'hover:bg-gray-100 dark:hover:bg-slate-700/50']"
                  >
                    <div class="flex items-center justify-start">
                      {{ $t('Post Title') }}
                      <component
                        v-if="currentSort === 'post_title'"
                        :is="currentSortDir === 'asc' ? ArrowSmUpIcon : ArrowSmDownIcon"
                        class="h-4 w-4 ml-1"
                      ></component>
                    </div>
                  </th>
                  <th
                    scope="col"
                    @click="setSortDir('question')"
                    class="py-5 px-3 text-center text-sm font-semibold text-gray-900 dark:text-gray-100 hover:cursor-pointer"
                    :class="[currentSort === 'question' ? 'bg-gray-200 dark:bg-slate-700/50 ' : 'hover:bg-gray-100 dark:hover:bg-slate-700/50']"
                  >
                    <div class="flex items-center justify-start">
                      {{ $t('Question') }}
                      <component
                        v-if="currentSort === 'question'"
                        :is="currentSortDir === 'asc' ? ArrowSmUpIcon : ArrowSmDownIcon"
                        class="h-4 w-4 ml-1"
                      ></component>
                    </div>
                  </th>
                  <th
                    scope="col"
                    @click="setSortDir('created')"
                    class="py-5 px-3 text-center text-sm font-semibold text-gray-900 dark:text-gray-100 hover:cursor-pointer"
                    :class="[currentSort === 'created' ? 'bg-gray-200 dark:bg-slate-700/50 ' : 'hover:bg-gray-100 dark:hover:bg-slate-700/50']"
                  >
                    <div class="flex items-center justify-center">
                      {{ $t('Creation Date') }}
                      <component
                        v-if="currentSort === 'created'"
                        :is="currentSortDir === 'asc' ? ArrowSmUpIcon : ArrowSmDownIcon"
                        class="h-4 w-4 ml-1"
                      ></component>
                    </div>
                  </th>
                  <th
                    scope="col"
                    @click="setSortDir('end_time')"
                    class="py-5 px-3 text-center text-sm font-semibold text-gray-900 dark:text-gray-100 hover:cursor-pointer"
                    :class="[currentSort === 'end_time' ? 'bg-gray-200 dark:bg-slate-700/50 ' : 'hover:bg-gray-100 dark:hover:bg-slate-700/50']"
                  >
                    <div class="flex items-center justify-center">
                      {{ $t('End Time') }}
                      <component
                        v-if="currentSort === 'end_time'"
                        :is="currentSortDir === 'asc' ? ArrowSmUpIcon : ArrowSmDownIcon"
                        class="h-4 w-4 ml-1"
                      ></component>
                    </div>
                  </th>
                  <th
                    scope="col"
                    @click="setSortDir('status')"
                    class="py-5 px-3 text-center text-sm font-semibold text-gray-900 dark:text-gray-100 hover:cursor-pointer"
                    :class="[currentSort === 'status' ? 'bg-gray-200 dark:bg-slate-700/50 ' : 'hover:bg-gray-100 dark:hover:bg-slate-700/50']"
                  >
                    <div class="flex items-center justify-center">
                      {{ $t('Status') }}
                      <component
                        v-if="currentSort === 'status'"
                        :is="currentSortDir === 'asc' ? ArrowSmUpIcon : ArrowSmDownIcon"
                        class="h-4 w-4 ml-1"
                      ></component>
                    </div>
                  </th>
                  <th
                    scope="col"
                    @click="setSortDir('protocol_version')"
                    class="py-5 px-3 text-center text-sm font-semibold text-gray-900 dark:text-gray-100 hover:cursor-pointer"
                    :class="[currentSort === 'protocol_version' ? 'bg-gray-200 dark:bg-slate-700/50 ' : 'hover:bg-gray-100 dark:hover:bg-slate-700/50']"
                  >
                    <div class="flex items-center justify-center">
                      {{ $t('Version') }}
                      <component
                        v-if="currentSort === 'protocol_version'"
                        :is="currentSortDir === 'asc' ? ArrowSmUpIcon : ArrowSmDownIcon"
                        class="h-4 w-4 ml-1"
                      ></component>
                    </div>
                  </th>
                </tr>
              </thead>
              <tbody
                v-for="poll in sortedPolls"
                :key="poll.permlink"
                class="border-b border-gray-200 dark:border-gray-700 divide-y divide-gray-200 dark:divide-slate-600 bg-white dark:bg-slate-800"
              >
                <tr>
                  <td class="px-3 py-2 whitespace-nowrap text-sm">
                    <router-link :to="`/@${poll.author}`" class="flex items-center justify-start gap-2">
                      <AccountAvatar :account="poll.author" class="h-7 w-7 flex-shrink-0"></AccountAvatar>
                      <p class="my-2 text-gray-900 dark:text-gray-100">@{{ poll.author }}</p>
                    </router-link>
                  </td>
                  <td class="px-3 py-2 bg-slate-100 dark:bg-slate-700 whitespace-nowrap text-left text-sm text-gray-500 dark:text-gray-300">
                    <a
                      :href="'https://peakd.com/hive-104500/@' + poll.author + '/' + poll.permlink"
                      target="_blank"
                      class="font-medium text-gray-900 dark:text-gray-100"
                      >{{ poll.post_title }}</a
                    >
                  </td>
                  <td class="px-3 py-2 bg-gray-50 dark:bg-slate-800 whitespace-nowrap text-left text-sm text-gray-600 dark:text-gray-300">
                    {{ poll.question }}
                  </td>
                  <td class="px-3 py-2 bg-slate-100 dark:bg-slate-700 whitespace-nowrap text-center text-sm text-gray-600 dark:text-gray-300">
                    {{ formatDate(poll.created) }}
                  </td>
                  <td
                    v-if="poll.end_time === null"
                    class="px-3 py-2 bg-gray-50 dark:bg-slate-800 whitespace-nowrap text-center text-sm text-gray-600 dark:text-gray-300"
                  >
                    {{ 'N/A' }}
                  </td>
                  <td v-else class="px-3 py-2 bg-gray-50 dark:bg-slate-800 whitespace-nowrap text-center text-sm text-gray-600 dark:text-gray-300">
                    {{ poll.end_time }}
                  </td>
                  <td class="px-3 py-2 bg-slate-100 dark:bg-slate-700 whitespace-nowrap text-center text-sm text-gray-600 dark:text-gray-300">
                    <span
                      v-if="poll.author === 'borislavzlatanov'"
                      class="inline-flex rounded-full bg-emerald-100 dark:bg-emerald-700 px-2 text-xs font-semibold leading-5 text-emerald-700 dark:text-emerald-100"
                      >Active</span
                    >
                    <span v-else class="inline-flex rounded-full bg-red-100 dark:bg-red-700 px-2 text-xs font-semibold leading-5 text-red-700 dark:text-red-100"
                      >Expired</span
                    >
                  </td>
                  <td class="px-3 py-2 bg-gray-50 dark:bg-slate-800 whitespace-nowrap text-center text-sm text-gray-600 dark:text-gray-300">
                    {{ poll.protocol_version }}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
  import { Ref } from 'vue'
  import { ArrowSmUpIcon, ArrowSmDownIcon } from '@heroicons/vue/outline'
  import { formatNumber, formatCurrency, formatDate } from '~/common/helpers/formatter'
  import { fetchPolls } from '~/polls/api/pollApi'
  import AccountAvatar from '~/common/components/AccountAvatar.vue'

  const route = useRoute()

  const availablePolls: Ref<any[]> = ref([])

  const getAvailablePolls = async () => {
    try {
      const polls = await fetchPolls()
      availablePolls.value = availablePolls.value.concat(polls)
      console.log(availablePolls.value)
    } catch (error: any) {
      alert(error.message)
    }
  }

  // filtering polls
  const filters = ref({
    title: {
      label: 'Post Title',
      placeholder: 'Post Title',
      value: ''
    },
    question: {
      label: 'Poll Question',
      placeholder: 'Poll Question',
      value: ''
    },
    author: {
      label: 'Poll Author',
      placeholder: 'username',
      value: ''
    }
  })

  const handleFilterChange = (filterName: string, filterValue: boolean | number | string) => {
    if (filterName.includes('.')) {
      const group = filterName.split('.')[0]
      const name = filterName.split('.')[1]

      const filter = (filters.value as any)[group]
      if (filter) {
        const option = filter.options && filter.options[name]
        if (option) {
          option.value = filterValue
        }
      }
    } else {
      const filter = (filters.value as any)[filterName]
      if (filter) {
        filter.value = filterValue
      }
    }
  }

  const clearFilters = (defaultFilters: string) => (filters.value = JSON.parse(defaultFilters))

  const filteredPolls = computed(() => {
    return availablePolls.value.filter(poll => {
      //filtering by poll post title
      if (filters.value.title.value.toLowerCase() && !poll.post_title.toLowerCase().includes(filters.value.title.value.toLowerCase())) {
        return false
      }
      //filtering by poll question
      if (filters.value.question.value.toLowerCase() && !poll.question.toLowerCase().includes(filters.value.question.value.toLowerCase())) {
        return false
      }
      //filtering by poll author
      if (filters.value.author.value.toLowerCase() && !poll.author.toLowerCase().includes(filters.value.author.value.toLowerCase())) {
        return false
      }
      return true
    })
  })

  // sorting polls
  const currentSort = ref('post_title')
  const currentSortDir = ref('desc')

  function setSortDir(s: string) {
    //if s == current sort, reverse
    if (s === currentSort.value) {
      return (currentSortDir.value = currentSortDir.value === 'asc' ? 'desc' : 'asc')
    } else {
      currentSort.value = s
      return (currentSortDir.value = 'desc')
    }
  }

  const sortedPolls = computed(() => {
    return [...filteredPolls.value].sort((a, b) => {
      let modifier = 1
      if (currentSortDir.value === 'desc') modifier = -1
      if (currentSort.value === 'post_title' || currentSort.value === 'question' || currentSort.value === 'author') {
        return a[currentSort.value].localeCompare(b[currentSort.value]) * modifier
      }
      if (currentSort.value === 'protocol_version') {
        if (parseFloat(a[currentSort.value]) < parseFloat(b[currentSort.value])) return -1 * modifier
        if (parseFloat(a[currentSort.value]) > parseFloat(b[currentSort.value])) return 1 * modifier
        return 0
      }
    })
  })

  onMounted(() => {
    {
      getAvailablePolls()
    }
  })

  /*let polls = [
  {
        id: "p-200105",
        creator: "@exampleaccount",
        question: "Question? A",
        description: "A Question",
        date: "2023-8-10",
        remaining: "90 days",
        votes: "2",
        tags: ["fun, random, hey, laugh"],
        options: [
          {value1: "1", title1: "No"},
          {value2: "1", title2: "Maybe"},
          {value3: "0", title3: "Yeah"}
        ]
    },
    {
        id: "p-100515",
        creator: "@exampleaccount2",
        question: "What's the best Interest Rate on HBD in Savings?",
        description: "There has been a lot of debate about the arp rate for HBD that is on the savings accout. Here is a poll to evaluate where most Hive user stand",
        date: "2023-8-22",
        remaining: "10 days",
        votes: "56",
        tags: ["hive, crypto, economy, blockchain"],
        options: [
          {value1: "23", title1: "20% APR"},
          {value2: "20", title2: "15% APR"},
          {value3: "13", title3: "18% APR"}
        ]
    }
  ]*/
</script>
