<template>
    <PollHeader :id="myPoll.permlink" :pollData="dataPoll"></PollHeader>
  </template>
  
  <script setup lang="ts">

  import { Ref } from 'vue'
  import { Poll } from '~/polls/api/pollDef'

  
  const props = defineProps<{
    poll: string
  }>()

  //Creating the array for the poll object

  let dataPoll = [
  {
    "post_title": "Test Poll.",
    "post_body": "This is the post body. This is a test poll post.\n\nEdit: this is my update to the post body.\n\nEdit 2: this is my second edit.\n\nEdit 3: Third edit.\n\n",
    "parent_permlink": "hive-104500",
    "cover_image": "https://files.peakd.com/file/peakd-hive/dimeilaz/23uQxtrrVjMLJV3bDjgFPcd49oBs2ERF4953TMqc5KqSzKtvie5nL9PUkJLekrPNmWkXb.jpg",
    "author": "borislavzlatanov",
    "created": "2023-12-23T16:52:27",
    "permlink": "test-poll",
    "protocol_version": 0.1,
    "question": "My test question",
    "preferred_interpretation": "number_of_votes",
    "tags": [
      "question", "poll", "hive", "testingpoll"
    ],
    "end_time": null,
    "filter_account_age": null,
    "filter_account_age_days": null,
    "platform": null,
    "poll_trx_id": "85ab0df74e186c2184d43da608b40f86c66f72d4",
    "poll_choices": [
      {
        "choice_num": 1,
        "choice_text": "choice 1",
        "votes": 3
      },
      {
        "choice_num": 2,
        "choice_text": "choice 2",
        "votes": 1
      }
    ]
  }
]

let myPoll = JSON.stringify(dataPoll)

console.log(myPoll)
  </script>
  